<gb-header-result (showFilter)="toggleMobileFilterFunction($event)"></gb-header-result>


<div class="container container-result hidden-xs"> <!--Start Content -->

  <div class="col-md-9 col-md-offset-3 col-xs-12">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/categories/' ]">All Categories</a></li>
      <li *ngIf="hasParent"><a [routerLink]="['/results/', parentBreadCrumbUrl ]">{{ parentBreadCrumb}}</a></li>
      <li class="active">{{ breadCrumb}}</li>
    </ol>
  </div>

  <div class="row">

    <div class="col-md-3 hidden-xs margin-left-10">

      <div class="container-fluid top-box">
        <form [formGroup]="controlForm" novalidate>
          <div class="col-xs-12 text-center">
            <h4 class="top-box-title">Showing {{profiles?.length}} Results</h4>
          </div>
          <div class="col-xs-12 text-left padding-top-5">
            <h5 class="top-box-subtitle">Platform</h5>
            <div class="checkbox">
              <input id="desktop" type="checkbox" formControlName="desktop" value="true" (click)="getDesktopFilter()">
              <label for="desktop">
                Desktop ({{ getDeskTopMetric() }})
              </label>
            </div>
            <div class="checkbox">
              <input id="cloud" type="checkbox" formControlName="cloud" value="true" (click)="getCloudFilter()">
              <label for="cloud">
                Cloud Based ({{ getCloudMetric() }})
              </label>
            </div>
          </div>


          <div class="col-xs-12 text-left padding-top-5">
            <h5 class="top-box-subtitle">Pricing</h5>
            <div class="checkbox">
              <input id="free" type="checkbox" formControlName="freeVersion" value="true" (click)="getFreeVersionFilter()">
              <label for="free">
                Free version ({{ getFreeVersionMetric() }})
              </label>
            </div>
            <div class="checkbox">
              <input id="trail" type="checkbox" formControlName="freeTrail" value="true" (click)="getFreeTrailFilter()">
              <label for="trail">
                Free trail ({{ getFreeTrailMetric() }})
              </label>
            </div>
            <div class="icons">
              <p class="icons">Price ({{ getPriceLevelMetric() }})
                <span class="icon-group">
               <i class="fa fa-usd"
                  [ngClass]="{'font-green': (pricingLevel == 1 || pricingLevel == 2 || pricingLevel == 3 || pricingLevel == 4) }"
                  (click)="togglePricingLevel(1)"></i>
                <i class="fa fa-usd"
                   [ngClass]="{'font-green': (pricingLevel == 2 || pricingLevel == 3 || pricingLevel == 4) }"
                   (click)="togglePricingLevel(2)"></i>
                <i class="fa fa-usd" [ngClass]="{'font-green': (pricingLevel == 3 || pricingLevel == 4)  }"
                   (click)="togglePricingLevel(3)"></i>
                <i class="fa fa-usd" [ngClass]="{'font-green': pricingLevel ===  4  }"
                   (click)="togglePricingLevel(4)"></i>
            </span></p>
            </div>
          </div>

          <div class="col-xs-12 text-left padding-top-5 padding-bottom-20">
            <h5 class="top-box-subtitle">System</h5>
            <div class="checkbox">
              <input id="windows" type="checkbox" formControlName="windows" (click)="getWindowsFilter()">
              <label for="windows">
                Windows ({{getWindowsMetric()}})
              </label>
            </div>
            <div class="checkbox">
              <input id="os" type="checkbox" formControlName="os" (click)="getOsFilter()">
              <label for="os">
                OS/X ({{ getOsMetric()}})
              </label>
            </div>
            <div class="checkbox">
              <input id="linux" type="checkbox" formControlName="linux" (click)="getLinuxFilter()">
              <label for="linux">
                Linux ({{ getLinuxMetric()}})
              </label>
            </div>
          </div>

          <div class="col-xs-12 text-left padding-top-5 padding-bottom-20">
            <div class="icons text-center">
              <p class="icons cursor" (click)="resetFilters()" style="cursor: pointer"> Reset
              </p>
            </div>
          </div>

        </form>
      </div> <!-- End TopBox -->


    </div> <!-- End right colom -->


    <div class="col-md-9 col-xs-12">


      <div class="row"> <!-- Title -->
        <div class="col-md-9">
          <div class="title">
            <h1 class="h1-results no-margin-bottom">{{category?.categoryH1}}</h1>
            <h4 class="h4-results no-margin-top">{{ category?.categoryH2}}</h4>
          </div>


        </div>
        <div class="col-md-3">

        </div>
      </div><!-- End Title-->


      <!-- start Profile of Profiles block -->
      <div *ngFor="let profile of profiles">
          <hr class="result-line pull-left">


          <div class="row"> <!-- Item Block -->
            <div class="col-md-8">

              <div class="pricing">
                <h2 class="h2-results">{{ profile?.productName }} </h2>
                <p class="sub-results">by {{ profile?.productCompanyName }} | {{profile?.productCompanyURL}}</p>

                <div class="row">
                  <div class="col-md-3">
                    <p class="content-results">
                      Desktop <span class="padding-left-5">
                    <i *ngIf="profile?.productIsDesktopBased == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsDesktopBased == false" class="glyphicon glyphicon-ban-circle"></i>
                  </span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p class="content-results">
                      Free Version Available <span class="padding-left-5">
                    <i *ngIf="profile?.productIsFreeVersion == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsFreeVersion == false" class="glyphicon glyphicon-ban-circle"></i>
                  </span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p class="content-results">
                      Systems
                      <span class="padding-left-5"><i *ngIf="profile?.productIsWindows == true"
                                                      class="fa fa-windows"></i></span>
                      <span class="padding-left-5"><i *ngIf="profile?.productIsOS == true"
                                                      class="fa fa-apple"></i></span>
                      <span class="padding-left-5"><i *ngIf="profile?.productIsLinux == true"
                                                      class="fa fa-linux"></i></span>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <p class="content-results">
                      Cloud Based <span class="padding-left-5">
                    <i *ngIf="profile?.productIsCloudBased == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsCloudBased  == false" class="glyphicon glyphicon-ban-circle"></i>
                  </span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p class="content-results">
                      Free Trail Available <span class="padding-left-5">
                   <i *ngIf="profile?.productIsFreeTrail == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsFreeTrail  == false" class="glyphicon glyphicon-ban-circle"></i>
                  </span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p class="content-results">
                      Price
                      <gb-price-level-block [pricingLevel]="profile?.productPricingLevel"></gb-price-level-block>
                    </p>
                  </div>
                </div>


              </div>
            </div>


            <div class="col-md-3 no-padding-left">
              <div class="btn-group-vertical">
                <button type="button" class="btn btn-info text-capitalize"
                        (click)="goToExternalProfilePage(profile?.productURL)">Product Website
                </button>
                <button class="btn btn-info text-capitalize" (click)="goToProfilePage(profile?.productName)">View
                  Profile
                </button>
              </div>
            </div>

          </div>
        </div><!-- End Item block -->


    </div>


  </div>
</div>


<gb-results-mobile-page class="visible-xs" [showFilter]="mobileFilter" [category]="category" [profiles]="profiles" [sourceProfiles]="sourceProfiles" [parentID]="category?.parentId"></gb-results-mobile-page>


<gb-footer></gb-footer>


