html, body {
  height: 100%;
}




.body {
  font-family: "AvenirBook", sans-serif;
}

.breadcrumb {
  font-family: "Avenir";
  font-size: 10px;
  font-weight: 300;
  text-align: left;
  color: #696969;
  background-color: #ffffff;
  padding: 8px 0;
}

.breadcrumb > li + li:before {
  color: #696969;
  content: "> ";
  padding: 0 5px;
}

.breadcrumb a {
  color: #696969;
}

.container-result{
  margin-left: 275px;
  margin-bottom: 20px;
}


.top-box {
  box-sizing: border-box;
  padding: 5px 0 0 0;
  border-radius: 2px;
  background-color: #f5f5f5;
  border: solid 1px #f5f5f5;
  margin-top: 0px;
  margin-left: 60px;
}

.top-box-title{
  font-family: 'Avenir-Book';
  font-size: 16px;
  text-align: left;
  color: #6991ac;
}

.top-box-subtitle{
  font-family: 'Avenir-Book';
  font-size: 14px;
  text-align: left;
  color: #6991ac;
}

.top-box-lines{
  padding-left: 25px;
  font-family: 'Avenir';
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #696969;
}




.h1-results {
  height: 30px;
  font-family: "Avenir-Book";
  font-size: 22px;
  text-align: left;
  color: #b11017;
  margin-top: 0px
}

.h2-results {
  font-family: 'Avenir-Book';
  font-size: 16px;
  text-align: left;
  color: #696969;
  padding-bottom: 0px;
  margin-bottom: 5px;

}

.h4-results {
  font-family: "Avenir";
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #b11017;
}

.sub-results {
  font-family: "Avenir";
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #696969;
}


.p-results {
  font-family: 'Avenir';
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #696969;
}

.content-results{
  font-family: 'Avenir';
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #696969;
}

.detail-list {
  list-style-type: none;
  padding-left: 0;
}

.detail-list-item {
  display: inline;
  text-decoration: none;
  font-family: 'Avenir';
  line-height: 2.75;
  text-align: left;
  color: #696969;
}

.result-line {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  border: solid 0.5px #696969;
}

.btn-group-vertical {
  > button {
    min-height: 36px;
    border-radius: 2px !important;
    background-color: #00a3fa;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  > button:first-child {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.icon-group {
  padding-right: 5px;
}

.image-col {
  > img {
    margin-bottom: 20px;
  }
}

.list-group-results{
  font-family: 'Avenir';
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
  color: #696969;

}


.list-group-item-results{

}



.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #929292;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 2px;
  padding-top: 0px;
  font-size: 11px;
  color: #555555;
}

.icons{
  font-family: 'Avenir';
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #696969;
}

.icon-group {
  padding-right: 5px;
  font-size: 16px;
  color: #696969;
}
