<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">All Products by {{ CompanyName }}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeCompanyModal()"
                tooltip="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </h2>
    </div>

    <div class="modal-body">


      <div class="container-fluid" *ngFor="let profile of profiles$ | async">
        <div class="col-xs-6 col-md-4" *ngIf="profile; noResults">
          <a (click)="goToProfile(profile?.$key)">
            <p class="category-line">
              <i [ngClass]="getPublishedClass(profile?.published)" class="fa fa-fw icon"></i>{{ profile?.productName }}
            </p>
          </a>
        </div>
        <div class="col-xs-6 col-md-4"><a  *ngIf="profile">
          <!--<p class="category-line">{{ getMainCategoryByID(profile?.$key) }}</p>-->
        </a>
        </div>

        <ng-template #noResults>
          <div class="col-xs-11 col-md-8" *ngIf="profile">
            <p class="category-line">
              No results found</p>
          </div>
        </ng-template>

      </div>


    </div>
  </div>
</div>
