<div id="page-wrapper">

  <!--Controls -->
  <div class="container-fluid">
    <div class="top-box margin-top-20">

      <form [formGroup]="controllerCategoryForm" novalidate>

        <div class="row no-margin-left">
          <div class="col-md-1">
            <h4>Categories</h4>
          </div>
          <div class="col-md-3">
            <a class="font-blue-light add-category">Add a Category</a>
          </div>

          <div class="col-md-7 col-xs-9 padding-left-5">
            <div class="row">
              <div class="col-xs-3 text-right">
                <div class="radio radio-primary">
                  <input id="allLevels" type="radio" value="0" formControlName="levelSelect">
                  <label for="allLevels"> All</label>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="radio radio-primary">
                  <input id="level1" type="radio"  value="1" formControlName="levelSelect">
                  <label for="level1"> Level 1</label>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="radio radio-primary">
                  <input id="level2" type="radio" value="2" formControlName="levelSelect">
                  <label for="level2"> Level 2</label>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="radio radio-primary">
                  <input id="level3" type="radio" value="3" formControlName="levelSelect">
                  <label for="level3"> Level 3</label>
                </div>
              </div>
            </div>
            </div>
        </div>




        <div class="row">

          <div class="col-md-4 col-xs-11 margin-top-5">
            <div class="nav-form" role="search">
              <div class="input-group">
                <input class="form-control" formControlName="searchInput"
                       [(ngModel)]="asyncSelected"
                       [typeahead]="dataSource"
                       [typeaheadItemTemplate]="myCustomItemTemplate"
                       (typeaheadLoading)="changeTypeaheadLoading($event)"
                       (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                       (typeaheadOnSelect)="typeaheadOnSelect($event)"
                       typeaheadOptionsLimit="7"
                       placeholder=""
                       class="form-control">
                <div class="input-group-btn" *ngIf="typeaheadLoading===false">
                  <button class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>
                </div>
                <div class="input-group-addon" *ngIf="typeaheadLoading===true">
                  <i class="glyphicon glyphicon-refresh ng-hide font-blue-light" style=""></i>
                </div>
              </div>
              <ng-template #myCustomItemTemplate let-model="item">
                <div class="dropdown">
                  <span> {{ model?.categoryName}}</span>
                </div>
              </ng-template>
              <div class="dropdown" *ngIf="typeaheadNoResults===true" class="" style="">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
              </div>
            </div>
          </div>


          <div class="col-md-7 col-xs-9">
            <div class="row">
              <div class="col-xs-3 text-right">
                <div class="radio radio-primary">
                  <input id="all" type="radio" value="0" formControlName="collectionSelect">
                  <label for="all"> All</label>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="radio radio-primary">
                  <input id="published" type="radio" value="1" formControlName="collectionSelect">
                  <label for="published"> Published Only</label>
                </div>
              </div>
              <div class="col-xs-5">
                <div class="radio radio-primary">
                  <input id="not-published" type="radio"  value="2" formControlName="collectionSelect">
                  <label for="not-published">Not Published Only</label>
                </div>
              </div>
            </div>
        </div>


    </div>

    </form>
  </div>

</div>

<!-- End Controls -->


  <div class="container-fluid margin-top-20 margin-bottom-20" *ngIf="isSearch">
    <div class="col-xs-11 col-md-11 browse-menu">

      <div class="alphabets">
        <a class="active-alp">
          <span>Search: {{ selectedLetter }}</span>
        </a>
      </div>
    </div>
  </div>


  <div class="container-fluid margin-top-20 margin-bottom-20">
    <div class="col-xs-11 col-md-11 browse-menu">

      <div class="alphabets">
        <a *ngFor="let objAlpha of Alphabet; i"
           [ngClass]="{'active-alp': selectedLetter == objAlpha}">
          <span (click)="toggleLetter(objAlpha)">{{ objAlpha | uppercase}}</span>
        </a>
      </div>
    </div>
  </div>



  <gb-category-by-letter *ngIf="!isSearch" [letter]="selectedLetter" [sortbylevel]="selectedLevel" [sortbypublished]="selectedStatus" ></gb-category-by-letter>





</div>
