
.image-container {
  width: 165px;
  height: 117px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #e6e9ee;
}

.img-preview {
  max-width: 165px;
  max-height: 117px;
  align: center;
  border-radius: 4px;
  border: solid 1px #e6e9ee;
}

.image-title {
  width: 130px;
  height: 17px;
  font-family: 'Avenir-Book';
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #b2b2b2;
}

.image-sub-title {
  width: 133px;
  height: 15px;
  font-family: 'Avenir-Book';
  font-size: 12px;
  text-align: left;
  color: #349be0;
}

.grey {
  color: #b2b2b2;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
