<div class="margin-top-10 margin-bottom-20 image-container" *ngIf="!imgPreview; else preview">

  <label for="file-upload" class="padding-20px">
    <span class="image-title">Drag files here</span> <br>
    <span class="image-sub-title">  <span class="grey">or</span> browse your computer</span>
  </label>
  <input id="file-upload" type="file" (change)="upload($event)"/>

</div>

<ng-template #preview>
  <div *ngIf="(imageList$ | async)">
    <div class="margin-top-10 margin-bottom-20 image-container" *ngFor="let img of imageList$ | async">
      <img [src]="img?.downloadURL | async" class="img-preview" (click)="delete(img)">
      <p class="help-block cursor" (click)="delete(img)"> Remove</p>
    </div>
  </div>
</ng-template>
