
.groupby {
  padding-top: 25px;
}

.groupby .group .title {
  margin: 0px;
  border-bottom: solid 1px #b11017;
  padding: 4px 12px;
  font-family: "AvenirMedium", sans-serif;
  font-size: 22px;
  color: #696969;
  margin-bottom: 12px;
}

.groupby .group .title span.glyphicon {
  font-size: 14px;
}

.groupby .group .title span.glyphicon:after {
  content: "\e113";
}

.groupby .group .title.collapsed span.glyphicon:after {
  content: "\e114";
}

.groupby .group .inner-title {
  padding: 4px 12px 6px;
  font-size: 22px;
  margin: 0px;
}

.groupby .group .list {
  padding: 0px 12px;
  list-style: none;
  margin-bottom: 0px;
}

.groupby .group .list li {
  padding: 6px 0px;
  font-family: 'Avenir';
  line-height: 1;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #696969;
  cursor: pointer;
  outline: none;
}


