<div class="container groupby-solution groupby">

  <div class="col-md-9 col-md-offset-3 col-xs-12 no-padding-left group">
    <h3 class="title"><span>{{letter | uppercase}}</span><span class="pull-right" (click)="toggleList()"> <i
      class="glyphicon" [ngClass]="icon"> </i></span></h3>
  </div>

  <div class="col-md-9 col-md-offset-3 col-xs-12 no-padding group" [collapse]="isCollapsed" >

    <div class="col-md-6 col-sm-6 col-xs-12 no-padding" *ngFor="let categories of catColLeft">

      <h3 class="inner-title"></h3>
      <ul class="list">
        <li [routerLink]="['/results/',categories?.categoryURL]"> {{categories?.categoryName}}</li>
      </ul>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 no-padding" *ngFor="let categories of catColRight">

      <h3 class="inner-title"></h3>
      <ul class="list">
        <li [routerLink]="['/results/',categories?.categoryURL]"> {{categories?.categoryName}}</li>
      </ul>
    </div>
  </div>

</div>


