/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/





.navbar-toggle {
  padding: 0;
  margin: 25px 5px 25px 0;
  .icon-bar {
    background-color: #979797;
  }
}

/* EXAMPLE 3

line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

.gb .nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  font-weight: 300;
  color: #696969;
}

.gb .navbar-toggle {
  padding: 10px;
  margin: 25px 25px 25px 0;
  .icon-bar {
    background-color: #979797;
}
}


.navbar-form{
  padding-top: 15px;
}


.form-control{
  border: 1px solid #00a3fa;
  border-radius: 0px;
  font-family: 'Avenir';
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #4a4a4a;
}

.btn-search {
  color: #fff;
  background-color: #00a3fa;
  border-color: #00a3fa;
  border-radius: 0px;
}

@media (min-width: 768px) {
  .navbar-gb {
    background-color: #fafafa;
    min-height: 85px;
  }

  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 125px;
  }

}


@media (max-width: 420px) {
  .navbar-gb {
    background-color: #ffffff;
  }

  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    padding-top: 15px;
  }

}



