<nav class="navbar navbar-static-top navbar-gb no-margin-bottom hidden-xs">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']"><img class="img-responsive" alt="Logo lg"
                                                        src="assets/images/img-logo.png"></a>
    </div>
    <div class="col-sm-4 col-md-4 pull-right hidden-xs">
      <form class="navbar-form" role="search">
        <div class="input-group col-xs-10 pull-right">
          <input type="text" class="form-control" placeholder="What needs attention?" name="q">
          <div class="input-group-btn">
            <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>


<nav class="navbar navbar-static-top navbar-gb visible-xs">

  <div class="navbar-header col-xs-12">
    <div class="row">
      <div class="col-xs-2">
        <button type="button" class="navbar-toggle cursor" (click)="clickFilter()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <a class="navbar-brand col-xs-9" [routerLink]="['/']">
        <img class="img-responsive" style="{max-width: 150px}" src="assets/images/main_logo.png">
      </a>
    </div>
    <div class="col-xs-11 col-xs-offset-1">
      <form class="navbar-form-xs" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="What needs attention?" name="q">
          <div class="input-group-btn">
            <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--/.container-fluid -->
</nav>

