<gb-header></gb-header>

<div class="container-fluid">
  <div *ngIf="document" class="main-content-wrapper">
    <div class="document-body" [innerHtml]=trustedUrl></div>
  </div>
  <div *ngIf="loaded && !document">
    <h2>Not found!</h2>
  </div>
</div>
<gb-footer></gb-footer>
