<div *ngIf="categories?.length; else loading">

  <div class="container-fluid" *ngFor="let cat of categories">
    <div class="col-xs-9 col-md-7" *ngIf="cat; noResults">
      <a [routerLink]="['manage/', cat?.$key]">
        <p class="category-line">
          <i [ngClass]="getPublishedClass(cat?.published)" class="fa fa-fw icon"></i>{{ cat?.categoryName }}</p>
      </a>
    </div>
    <div class="col-xs-3 col-md-3"><a [routerLink]="['manage/', cat?.$key]" *ngIf="cat">
      <p class="category-line">Level {{ setCategory(cat?.parentId) }}</p>
    </a>
    </div>

    <ng-template #noResults>
      <div class="col-xs-11 col-md-8" *ngIf="cat">
        <p class="category-line">
          No results found</p>
      </div>
    </ng-template>

  </div>

</div>


<ng-template #loading>
  <div class="container-fluid">
    <div class="col-xs-12 col-md-8 text-center padding-top-25px">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

