<div id="page-wrapper">
  <div class="container" *ngIf="!loading; else init">

    <form [formGroup]="categoryForm" novalidate (ngSubmit)="saveCategory()" *ngIf="!saving; else processing"
          class="padding-top-2 padding-bottom-5">

      <!--Controls -->
      <div class="container-fluid">
        <div class="top-box">

          <div class="row top-box-line1">
            <div class="col-md-4">
              <p>Last edited on {{ dateObj | date:'medium' }} by {{ editedBy }}</p>
            </div>
            <div class="col-md-3" (click)="goToLive()">
              <p>View profiles in this category <i class="fa fa-external-link-square fa-fw font-blue-light"></i></p>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-xs-9 no-padding-left no-padding-right no-margin-left no-margin-right">
                  <p *ngIf="switchvalue">Category Status: Published</p>
                  <p *ngIf="!switchvalue">Category Status: Not Published</p>
                </div>
                <div class="col-xs-3 no-padding-left text-right">
                  <label class="switch">
                    <input type="checkbox" value="true" formControlName="published">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-2 font-red text-right">
              <p class="pointer" (click)="deleteCategory()">Delete Category </p>
            </div>
          </div>


          <div class="row top-box-line1">
            <div class="col-md-4 col-xs-11">
              <button class="btn btn-lg btn-info" type="submit" [disabled]="!categoryForm.valid || categoryForm.valid && categoryForm.pristine">Save</button>
              <span class="padding-right-10"></span>
              <button type="button" class="btn btn-lg btn-info btn-gb" (click)="goTodashboard()">Cancel</button>
            </div>
            <div class="col-md-6 col-xs-11 ">
              <div class="checkbox checkbox-primary">
                <input id="next" type="checkbox" value="true" formControlName="categoryNext" (click)="setNextUnpublished()" >
                <label for="next" style="line-height: 1.5">
                  Display next unpublished category when saved. <i class="fa fa-lock fa-fw font-blue-light"></i></label>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- End Controls -->

      <fieldset>

        <div class="form-group form-group-gb">
          <label for="name" class="col-xs-12  col-form-label text-left">Category Name</label>
          <div class="col-md-8 col-xs-11">
            <input id="name" formControlName="categoryName" class="form-control form-control-category">
            <div class="row gb-toolbar">
              <label class="checkbox-inline"><input formControlName="categoryType" type="radio" value="top"
                                                    class="gb-radio">Top
                Category</label>
              <label class="checkbox-inline"><input formControlName="categoryType"
                                                    type="radio"
                                                    class="gb-radio"
                                                    value="sub">Sub-Category</label>
              <label class="checkbox-inline"><input formControlName="categoryPopular" type="checkbox"
                                                    class=" gb-checkbox"
                                                    value="true">List on homepage as popular</label>
            </div>
          </div>
        </div>

        <div class="form-group form-group-gb" *ngIf="!isTopCategory && !hideLevel1">
          <label class="col-xs-12 col-form-label text-md-right">Level 1 Category</label>
          <div class="col-md-8 col-xs-11">
            <select class="form-control form-control-category" formControlName="levelOneCategory">
              <option *ngFor="let cat of levelOne" [value]="cat?.$key">
                {{ cat?.categoryName }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group form-group-gb" *ngIf="!isTopCategory && !hideLevel2">
          <label class="col-xs-12 col-form-label text-md-right">Level 2 Category <span
            class="help-block"> Level 1/Level 2/</span></label>
          <div class="col-md-8 col-xs-11">
            <select class="form-control form-control-category" formControlName="levelTwoCategory">
              <option *ngFor="let cat of levelTwo" [value]="cat?.$key">
                {{ cat?.categoryName }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group form-group-gb" *ngIf="!isTopCategory && levelOne?.length">
          <label for="secondary" class="col-xs-12  col-form-label text-left">Add to another Level 1 Category</label>
          <div class="col-md-8 col-xs-11">
            <select id="secondary" class="form-control form-control-category" formControlName="secondaryCategory">
              <option *ngFor="let cat of levelOne" [value]="cat?.$key">
                {{ cat?.categoryName }}
              </option>
            </select>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="relatedNames" class="col-xs-12  col-form-label text-left">Search Terms / Key Words<span
            class="help-block inline">For search results and meta keywords</span></label>
          <div class="col-md-8 col-xs-11">
          <textarea id="relatedNames" rows="3" type="text" formControlName="tagsCategory"
                    class="form-control form-control-category"></textarea>
          </div>
        </div>

        <div class="form-group form-group-gb">
          <label for="title" class="col-xs-12  col-form-label text-left">Page Title / og:title</label>
          <div class="col-md-8 col-xs-11">
            <input id="title" type="text" formControlName="pageTitle" class="form-control form-control-category">
          </div>
        </div>

        <div class="form-group form-group-gb">
          <label for="url" class="col-xs-12 col-form-label text-left">URL / og:url <span
            class="help-block inline">Lowercase text, no slashes</span></label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <input id="url" type="text" formControlName="categoryUrl"
                       class="form-control form-control-category">
              </div>
              <div class="help-block col-md-4 col-xs-12">
                <p>Source 1 : /accounting-software/</p>
                <p>Source 2: /finance-accounting-software/accounting/</p>
                <p>Source 3: /accounting/</p>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="h1" class="col-xs-12  col-form-label text-left">H1 / Category Header</label>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <input id="h1" type="text" formControlName="categoryHeader"
                       class="form-control form-control-category">
              </div>
              <div class="help-block col-md-4 col-xs-12">
                <p>Source 1: Top Accounting Software Products/</p>
                <p>Source 2: Accounting Software </p>
                <p>Source 3: Accounting Software</p>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group form-group-gb">
          <label for="h2" class="col-xs-12  col-form-label text-left">H2 / Category Sub-Header</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <input id="h2" type="text" formControlName="categorySubHeader"
                       class="form-control form-control-category">
              </div>
              <div class="help-block col-md-4 col-xs-12">
                <p>Source 1: Capterra has helped thousands of businesses find the best financial software. Find
                  research,
                  guides, and infographics on our Finance Software Research page.</p>
                <p>Source 3: We've helped thousands of businesses choose the right accounting software so they can
                  balance
                  their books and make more financially sound decisions. How? </p>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="description" class="col-xs-12  col-form-label text-left">
            Category Description / Meta Description / og:description</label>
          <div class="col-md-8 col-xs-11">
          <textarea id="description" rows="3" type="text" formControlName="categoryDescription"
                    class="form-control form-control-category"></textarea>
          </div>
        </div>

        <div class="form-group form-group-gb">
          <label for="features" class="col-xs-12 col-form-label text-left">Features</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <input id="features" formControlName="categoryFeatures" class="form-control form-control-category">
              </div>
              <div class="col-md-1 no-padding-left">
                <button type="button" class="no-button"
                        [disabled]="!categoryForm.controls['categoryFeatures'].valid || categoryForm.get('categoryFeatures').pristine"
                        (click)="addFeature()"><i class="font-blue-light fa fa-plus-circle fa-2x"></i></button>
              </div>
              <div class="col-md-7" *ngIf="featurelist.length">
                <div class="label-group" *ngFor="let feature of featurelist">
                  <p class="label label-info rounded">{{feature.value}}
                    <i class="fa fa-minus-circle fa-fw" (click)="removeFeature(feature)"></i></p>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="notes" class="col-xs-12 col-form-label text-left">Internal Notes <span
            class="help-block inline">Not visible to users</span></label>
          <div class="col-md-8 col-xs-11">
          <textarea id="notes" rows="3" type="text" formControlName="categoryNotes"
                    class="form-control form-control-category"></textarea>
          </div>
        </div>


      </fieldset>
    </form>


    <ng-template #processing>
      <div class="container text-center">
        <p>Processing...</p>
      </div>

    </ng-template>

  </div>
  <ng-template #init>
    <div class="container text-center margin-top-20 margin-bottom-20 padding-top-25px padding-bottom-20">
      <p class="margin-top-20 margin-bottom-20 padding-top-25px padding-bottom-20 text-center">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
      </p>
      <p class="margin-top-20 margin-bottom-20 padding-top-25px padding-bottom-20 text-center">Getting Ready...</p>
    </div>
  </ng-template>
</div>
