
#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #ffffff;
}

@media(min-width: 768px) {
  #page-wrapper {
    margin-top: 80px;
    padding: 10px;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 300;
    color: #696969;
  }
}

@media(min-width: 300px) and (max-width: 765px) {
  #page-wrapper {
    margin-top: 220px;
    padding: 10px;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 300;
    color: #696969;
  }
}

.h4 {
  font-size: 20px;
}

.add-category {
  line-height: 3;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #349be0;
}

.col-form-label {
  font-family: 'Avenir';
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  color: #494949;
  padding-top: 25px;
}

.gb-toolbar {
  > label {
    padding: 10px 15px 5px;
    line-height: 1.5;
    min-width: 60px;
  }
}

.radio-inline {
  padding-left: 30px;
}

.help-block {
  padding-left: 20px;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #494949;
}

.form-control {
  line-height: 2.35;
  font-family: 'Avenir-Book';
  color: #696969;
  min-height: 32px;
  border-radius: 0px;
  border: solid 1px #00a3fa;
}

.top-box {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 2px;
  background-color: #ffffff;
  border: none;
}

.top-box-line1 {
  padding-bottom: 10px;
  font-family: 'Avenir-Book';
  font-size: 14px;
  line-height: 2;
  text-align: left;
  color: #a1a1ae;
}

/* Button Styling */
.btn-info {
  min-height: 30px;
  min-width: 60px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}


//<!--ABC-->

.browse-menu .alphabets {
  clear: both;
}

.browse-menu .alphabets a {
  padding: 0px 5px;
  font-size: 22px;
  font-family: "AvenirMedium", sans-serif;
  color: #696969;
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

.browse-menu .alphabets a.active-alp {
  color: #696969;
  opacity: 1;
}

.browse-menu .alphabets a.no-record {
  opacity: 0.5;
}

.icon{
  margin-right: 5px;
  font-size: 16px;
}

.category-line {
  font-family: 'Avenir';
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  color: #696969;
  margin-bottom: 5px;
}
