<span class="icon-group">
<i class="fa fa-usd"
   [ngClass]="{'font-green': (pricingLevel == 1 || pricingLevel == 2 || pricingLevel == 3 || pricingLevel == 4) }"></i>
<i class="fa fa-usd"
   [ngClass]="{'font-green': (pricingLevel == 2 || pricingLevel == 3 || pricingLevel == 4) }"></i>
<i class="fa fa-usd" [ngClass]="{'font-green': (pricingLevel == 3 || pricingLevel == 4)  }"></i>
<i class="fa fa-usd" [ngClass]="{'font-green': pricingLevel ===  4  }"></i>
</span>
