.form-control-gb{
  text-align: center;
  line-height: 2.35;
  font-family: 'Avenir-Book';
  color: #696969;
  min-height: 48px;
  border-radius: 2px;
  border: solid 1px #ccdde3;
}

.cursor{
  cursor: pointer;
}
