<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3 col-xs-12">

    <img class="img-responsive center-block" src="assets/images/logo@2x.png">

    <div class="text-center" *ngIf="show; else reset">
      <h2>LOG IN</h2>
      <form novalidate [formGroup]="loginForm" (ngSubmit)="onLogin()" *ngIf="!isLoading; else loading">
        <div class="form-group">
          <input type="email" class="form-control form-control-gb" id="exampleInputEmail" formControlName="userEmail"
                 placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control form-control-gb" id="exampleInputPassword"
                 formControlName="userPassword"
                 placeholder="Password">
        </div>
        <p (click)="toggleReset()" class="cursor">Forgot Password?</p>
        <button type="submit" class="btn btn-lg btn-primary" [disabled]="loginForm.invalid">Submit</button>
      </form>
    </div>


  </div>

</div>

<ng-template #reset>
  <div class="text-center">
    <h2>RESET YOUR PASSWORD</h2>
    <form novalidate [formGroup]="resetForm" (ngSubmit)="resetPassword()" *ngIf="!isLoading; else loading">
      <div class="form-group">
        <input type="email" class="form-control form-control-gb" id="InputEmail" formControlName="resetEmail"
               placeholder="Email">
      </div>
      <p (click)="toggleReset()" class="cursor">Back to SignIn?</p>
      <button type="submit" class="btn btn-lg btn-primary" [disabled]="resetForm.invalid || resetForm.pristine">Submit
      </button>
    </form>
  </div>
</ng-template>

<ng-template #loading>
  <div class="center-block">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <br>
    <p class="text-center">Loading...</p>
  </div>

</ng-template>
