<nav class="navbar navbar-static-top navbar-gb no-margin-bottom hidden-xs">
  <div class="container">
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <a class="navbar-brand col-xs-10 col-xs-offset-1 visible-xs" [routerLink]="['/']"><img class="img-responsive" style="{max-width: 150px}"
                                                                   alt="Logo xs"
                                                                   src="assets/images/main_logo.png"></a>
      <a class="navbar-brand visible-sm" [routerLink]="['/']"><img class="img-responsive" alt="Logo sm"
                                                                   src="assets/images/main_logo.png"></a>
      <a class="navbar-brand visible-md" [routerLink]="['/']"><img class="img-responsive" alt="Logo md"
                                                                   src="assets/images/main_logo.png"></a>
      <a class="navbar-brand visible-lg" [routerLink]="['/']"><img class="img-responsive" alt="Logo lg"
                                                                   src="assets/images/main_logo.png"></a>
    </div>
    <div class="col-sm-4 col-md-4 pull-right hidden-xs">
      <form class="navbar-form" role="search">
        <div class="input-group col-xs-10 pull-right">
          <input type="text" class="form-control" placeholder="What needs attention?" name="q">
          <div class="input-group-btn">
            <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>




<nav class="navbar navbar-static-top navbar-gb visible-xs">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand col-xs-10 col-xs-offset-1 visible-xs" [routerLink]="['/']">
        <img class="img-responsive" style="{max-width: 150px}" alt="Logo xs" src="assets/images/main_logo.png"></a>

    </div>
  </div>
  <!--/.container-fluid -->
</nav>
