<gb-header-home></gb-header-home>

<gb-home-banner></gb-home-banner>

<div class="container category-container hidden-xs">
  <div class="col-md-11 col-md-offset-1 col-xs-12 row">
    <div class="col-sm-4 col-xs-12 categories popular border-right">
      <h3>Popular Categories</h3>
      <ul *ngFor="let category of popularCol">
        <li><a [routerLink]="['/results/',category?.categoryURL]">{{category?.categoryName}}</a></li>
      </ul>
    </div>
    <div class="col-sm-4 col-xs-12 categories padding-left-5">
      <h3>Categories</h3>
      <ul *ngFor="let category of firstCol">
        <li><a [routerLink]="['/results/',category?.categoryURL]">{{category?.categoryName}}</a></li>
      </ul>
    </div>
    <div class="col-sm-4 col-xs-12 categories no-padding-left">
      <h3 class="hidden-xs"></h3>
      <ul *ngFor="let category of secondCol">
        <li><a [routerLink]="['/results/',category?.categoryURL]">{{category?.categoryName}}</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="visible-xs">
  <div class="col-xs-12 categories-mobile margin-top-20">
    <h3>Popular Categories</h3>
    <ul *ngFor="let category of popularCol">
      <li><a [routerLink]="['/results/',category?.categoryURL]">{{category?.categoryName}}</a></li>
    </ul>
    <hr class="mobile">
  </div>



  <div class="col-xs-12 categories-mobile ">
    <h3>Categories</h3>
    <ul *ngFor="let category of firstCol">
      <li><a [routerLink]="['/results/',category?.categoryURL]">{{category?.categoryName}}</a></li>
    </ul>
  </div>
  <div class="col-xs-12 categories-mobile ">
    <h3 class="hidden-xs"></h3>
    <ul *ngFor="let category of secondCol">
      <li><a [routerLink]="['/results/',category?.categoryURL]">{{category?.categoryName}}</a></li>
    </ul>
  </div>
</div>


<gb-footer></gb-footer>


