
.categories {
  h3 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 11px;
    min-height: 24px;
    margin-top: 0px;
  }
  ul {
    list-style: none;
    padding: 5px 0 0 0;
  }
  ul li {
    padding: 2px 0px;
  }
  font-family: Avenir;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  color: #696969;
  a {
    color: #696969;
  }

}


.popular:after {
  content: "";
  width: 1px;
  height: calc(100% - 62px);
  position: absolute;
  background: #b11017;
  top: 43px;
  right: 10px;
}

.category-container{
  padding-top: 75px;
  padding-left: 35px;
}


//.border-right{
//  border-right: 1px solid #b11017 {
//    height: calc(100% - 62px);
//  }
//}


hr .mobile{
  align: center;
  max-width: 60%;
  border: solid 1px #979797;
}



.categories-mobile {
  h3 {
    font-family: 'Avenir';
    font-size: 22px;
    font-weight: 300;
    text-align: left;
    color: #696969;
    margin-bottom: 11px;
    min-height: 24px;
    margin-top: 0px;
  }
  ul {
    list-style: none;
    padding: 5px 0 0 0;
  }
  ul li {
    padding: 2px 0px;
  }
  font-family: 'Avenir';
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  color: #696969;
  a {
    color: #696969;
    cursor: pointer;
  }
  a:hover{
    text-decoration: underline;
  }

}
