html, body {
  height: 100%;
}


.no-padding-left {
  padding-left: 0px;
}

.no-padding {
  padding: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.no-padding-top {
  padding-top: 0px;
}

.no-padding-bottom {
  padding-bottom: 0px;
}



.padding-10px {
  padding: 10px;
}


.padding-15px {
  padding: 15px;
}

.padding-20px {
  padding: 20px;
}

.padding-25px {
  padding: 25px;
}

.padding-top-2 {
  padding-top: 2%;
}

.padding-top-5 {
  padding-top: 5%;
}

.padding-top-10 {
  padding-top: 10%;
}


.padding-top-15px {
  padding-top: 15px;
}

.padding-top-20px {
  padding-top: 20px;
}

.padding-top-25px {
  padding-top: 25px;
}

.padding-bottom-1 {
  padding-bottom: 1%;
}


.padding-bottom-2 {
  padding-bottom: 2%;
}

.padding-bottom-5 {
  padding-bottom: 5%;
}

.padding-bottom-10 {
  padding-bottom: 10%;
}

.padding-bottom-20 {
  padding-bottom: 20%;
}

.padding-right-2 {
  padding-right: 2px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-left-25 {
  padding-left: 25px;
}


.padding-left-35 {
  padding-left: 35px;
}


// Margin

.no-margin {
  margin: 0px;
}

.no-margin-top {
  margin-top: 0px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.no-margin-left {
  margin-left: 0px;
}

.no-margin-right {
  margin-right: 0px;
}

.margin-top-5{
  margin-top: 5px;
}

.margin-top-10{
  margin-top: 10px;
}


.margin-top-20{
  margin-top: 20px;
}


.margin-top-30{
  margin-top: 30px;
}


.margin-bottom-20{
  margin-bottom: 20px;
}


// Others

.inline{
  display: inline;
}


.font-red{
  color: #eb657c;
}

.font-grey{
  color: #494949;
}

.font-blue-light{
  color: #64c1ff;
}

.font-green{
  color: #238a20;
}

.bg-color-grey{
  background-color: #f5f5f5;
}

.bg-color-white{
  background-color: #ffffff;
}

.pointer{
  cursor: pointer;
}

.no-button{
  border: none;
  background-color: transparent;
}


// Global Validatio

/* Forms */
.form-control.ng-invalid.ng-dirty {
  border-color: #eb657c;
  outline-color: #eb657c;
}
//.form-control.ng-valid.ng-dirty {
//  border-color: #089200;
//  outline-color: #089200;
//}
