<div class="container-fluid  bg-color-grey padding-bottom-10">

  <div class="no-margin-bottom padding-left-15" *ngIf="!showFilter">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/categories/' ]">All Categories</a></li>
      <li *ngIf="hasParent"><a [routerLink]="['/results/', parentBreadCrumbUrl ]">{{ parentBreadCrumb}}</a></li>
      <li class="active">{{ breadCrumb}}</li>
    </ol>
  </div>

  <div *ngIf="showFilter">
    <div class="container-fluid top-box">
      <form [formGroup]="mobileControlForm" novalidate>
        <div class="col-xs-12 text-center">
          <h4 class="top-box-title">Showing {{profiles?.length}} Results</h4>
        </div>
        <div class="col-xs-12 text-left padding-top-5">
          <h5 class="top-box-subtitle">Platform</h5>
          <div class="checkbox">
            <input id="desktop" type="checkbox" formControlName="desktop" value="true" (click)="getDesktopFilter()">
            <label for="desktop">
              Desktop ({{ getDeskTopMetric() }})
            </label>
          </div>
          <div class="checkbox">
            <input id="cloud" type="checkbox" formControlName="cloud" value="true" (click)="getCloudFilter()">
            <label for="cloud">
              Cloud Based ({{ getCloudMetric() }})
            </label>
          </div>
        </div>


        <div class="col-xs-12 text-left padding-top-5">
          <h5 class="top-box-subtitle">Pricing</h5>
          <div class="checkbox">
            <input id="free" type="checkbox" formControlName="freeVersion" value="true"
                   (click)="getFreeVersionFilter()">
            <label for="free">
              Free version ({{ getFreeVersionMetric() }})
            </label>
          </div>
          <div class="checkbox">
            <input id="trail" type="checkbox" formControlName="freeTrail" value="true" (click)="getFreeTrailFilter()">
            <label for="trail">
              Free trail ({{ getFreeTrailMetric() }})
            </label>
          </div>
          <div class="icons">
            <p class="icons">Price ({{ getPriceLevelMetric() }})
              <span class="icon-group">
               <i class="fa fa-usd"
                  [ngClass]="{'font-green': (pricingLevel == 1 || pricingLevel == 2 || pricingLevel == 3 || pricingLevel == 4) }"
                  (click)="togglePricingLevel(1)"></i>
                <i class="fa fa-usd"
                   [ngClass]="{'font-green': (pricingLevel == 2 || pricingLevel == 3 || pricingLevel == 4) }"
                   (click)="togglePricingLevel(2)"></i>
                <i class="fa fa-usd" [ngClass]="{'font-green': (pricingLevel == 3 || pricingLevel == 4)  }"
                   (click)="togglePricingLevel(3)"></i>
                <i class="fa fa-usd" [ngClass]="{'font-green': pricingLevel ===  4  }"
                   (click)="togglePricingLevel(4)"></i>
            </span></p>
          </div>
        </div>

        <div class="col-xs-12 text-left padding-top-5 padding-bottom-10">
          <h5 class="top-box-subtitle">System</h5>
          <div class="checkbox">
            <input id="windows" type="checkbox" formControlName="windows" (click)="getWindowsFilter()">
            <label for="windows">
              Windows ({{getWindowsMetric()}})
            </label>
          </div>
          <div class="checkbox">
            <input id="os" type="checkbox" formControlName="os" (click)="getOsFilter()">
            <label for="os">
              OS/X ({{ getOsMetric()}})
            </label>
          </div>
          <div class="checkbox">
            <input id="linux" type="checkbox" formControlName="linux" (click)="getLinuxFilter()">
            <label for="linux">
              Linux ({{ getLinuxMetric()}})
            </label>
          </div>
        </div>

        <div class="col-xs-12 text-left padding-top-5 padding-bottom-20">
          <div class="col-xs-6 icons text-left">
            <p class="icons cursor" (click)="resetFilters()" style="cursor: pointer"> Reset
            </p>
          </div>

          <div class="col-xs-6 icons text-left">
            <p class="icons cursor" (click)="apply()" style="cursor: pointer"> Show Results
            </p>
          </div>
        </div>

      </form>
    </div> <!-- End TopBox -->

  </div> <!-- End Filter colom -->


  <div *ngIf="!showFilter">


    <!-- Title -->
    <div class="container-fluid title">
      <h1 class="h1-results">{{category?.categoryH1}}</h1>
      <h4 class="h4-results no-margin-top">{{category?.categoryH2}}.</h4>
    </div>

    <!-- End Title-->

    <!-- start Profile of Profiles block -->
    <div *ngFor="let profile of profiles">
      <div class="container-fluid bg-color-white margin-top-20">


        <div class="pricing">
          <h2 class="h2-results">{{ profile?.productName }} </h2>
          <p class="sub-results">by {{ profile?.productCompanyName }} | {{profile?.productCompanyURL}}</p>

          <div class="col-xs-6 feature-group">
            <p class="content-results">
              Desktop <span class="padding-left-5">
                    <i *ngIf="profile?.productIsDesktopBased == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsDesktopBased == false" class="glyphicon glyphicon-ban-circle"></i>
                  </span>
            </p>
          </div>

          <div class="col-xs-6 feature-group">
            <p class="content-results">
              Free Version <span class="padding-left-5">
                    <i *ngIf="profile?.productIsFreeVersion == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsFreeVersion == false" class="glyphicon glyphicon-ban-circle"></i>
                  </span>
            </p>
          </div>


          <div class="col-xs-6 feature-group">
            <p class="content-results">
              Systems
              <span class="padding-left-5"><i *ngIf="profile?.productIsWindows == true"
                                              class="fa fa-windows"></i></span>
              <span class="padding-left-5"><i *ngIf="profile?.productIsOS == true"
                                              class="fa fa-apple"></i></span>
              <span class="padding-left-5"><i *ngIf="profile?.productIsLinux == true"
                                              class="fa fa-linux"></i></span>
            </p>
          </div>



          <div class="col-xs-6 feature-group">
            <p class="content-results">
              Free Trail <span class="padding-left-5">
                   <i *ngIf="profile?.productIsFreeTrail == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsFreeTrail  == false" class="glyphicon glyphicon-ban-circle"></i>
                  </span>
            </p>
          </div>

          <div class="col-xs-6 feature-group">
            <p class="content-results">
              Cloud Based <span class="padding-left-5">
                    <i *ngIf="profile?.productIsCloudBased == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsCloudBased  == false" class="glyphicon glyphicon-ban-circle"></i>
                  </span>
            </p>
          </div>


          <div class="col-xs-6 feature-group padding-bottom-5">
            <p class="content-results">
              Price
              <gb-price-level-block [pricingLevel]="profile?.productPricingLevel"></gb-price-level-block>
            </p>
          </div>

        </div>


        <div class="col-xs-12 text-center padding-bottom-10">
          <div class="row">
            <div class="col-xs-6">
              <button type="button" class="btn btn-info text-capitalize"
                      (click)="goToExternalProfilePage(profile?.productURL)">Product Website
              </button>
            </div>
            <div class="col-xs-6">
              <button class="btn btn-info text-capitalize" (click)="goToProfilePage(profile?.productName)">View
                Profile
              </button>
            </div>
          </div>
        </div>

      </div><!-- End Item block -->
    </div>



  </div>


</div>


