
#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #ffffff;
}

@media(min-width: 768px) {
  #page-wrapper {
    margin-top: 80px;
    padding: 10px;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 300;
    color: #696969;
  }
}

@media(min-width: 300px) and (max-width: 765px) {
  #page-wrapper {
    margin-top: 220px;
    padding: 10px;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 300;
    color: #696969;
  }
}

.h4 {
  font-size: 20px;
}

.add-category {
  line-height: 3;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #349be0;
}

.col-form-label {
  font-family: 'Avenir';
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  color: #494949;
  padding-top: 25px;
}

.gb-toolbar {
  > label {
    padding: 10px 15px 5px;
    line-height: 1.5;
    min-width: 60px;
  }
}

.radio-inline {
  padding-left: 30px;
}

.help-block {
  padding-left: 20px;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #494949;
}

.form-control {
  line-height: 2.35;
  font-family: 'Avenir-Book';
  color: #696969;
  min-height: 32px;
  border-radius: 4px;
  border: solid 1px #ccdde3;
}

.top-box {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 2px;
  background-color: #ffffff;
  border: none;
}

.top-box-line1 {
  padding-bottom: 10px;
  font-family: 'Avenir-Book';
  font-size: 14px;
  line-height: 2;
  text-align: left;
  color: #a1a1ae;
}

/* Button Styling */
.btn-info {
  min-height: 30px;
  min-width: 60px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}

.radio {
  padding-left: 20px;
}

.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
  opacity: 0;
}

.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

//<!--ABC-->

.browse-menu .alphabets {
  clear: both;
}

.browse-menu .alphabets a {
  padding: 0px 5px;
  font-size: 22px;
  font-family: "AvenirMedium", sans-serif;
  color: #696969;
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

.browse-menu .alphabets a.active-alp {
  color: #696969;
  opacity: 1;
}

.browse-menu .alphabets a.no-record {
  opacity: 0.5;
}

.icon{
  margin-right: 5px;
  font-size: 16px;
}

.category-line {
  font-family: 'Avenir';
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  color: #696969;
  margin-bottom: 5px;
  padding-left: 10px;
}
