

  <div *ngIf="(companies$  | async)?.length; else loading">

    <div class="container-fluid" *ngFor="let com of companies$ | async">
      <div class="col-xs-12 col-md-11">
        <a [routerLink]="['manage/', com?.$key]">
          <p class="category-line">{{
            com?.CompanyName }}</p>
        </a>
      </div>
    </div>



  </div>

  <ng-template #loading>
    <div class="container-fluid">
      <div class="col-xs-12 col-md-8 text-center padding-top-25px">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>


