
.categoryTitle{
  font-family: 'Avenir';
  font-size: 22px;
  font-weight: 300;
  text-align: left;
  color: #696969;
  cursor: pointer;
}

.categoryList{
  font-family: 'Avenir';
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  color: #696969;
  cursor: pointer;
}



