<div *ngIf="categoryTitle">
  <h3 class="categoryTitle"><a *ngIf="categoryUrl" class="categoryTitle" [routerLink]="['/results/',categoryUrl]">{{categoryTitle}}</a>
  </h3>
  <li *ngFor="let cat of list">
    <a *ngIf="cat" [routerLink]="['/results/', cat?.categoryURL]" class="categoryList">{{cat?.categoryName}}</a>
  </li>
</div>
