<div id="page-wrapper">
  <div class="container">

    <form [formGroup]="profileForm" novalidate (ngSubmit)="updateProfile()" *ngIf="!saving; else processing"
          class="padding-top-2 padding-bottom-5">

      <!--Controls -->
      <div class="container-fluid">
        <div class="top-box">

          <div class="row top-box-line1">
            <div class="col-md-4">
              <p>Last edited on {{ dateObj | date:'medium' }} by {{ editedBy }}</p>
            </div>
            <div class="col-md-2 no-padding-left" (click)="goToLive()">
              <p>View this profile <i class="fa fa-external-link-square fa-fw font-blue-light"></i></p>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-xs-7">
                  <p [hidden]="!switchvalue">Profile Status: Published</p>
                  <p [hidden]="switchvalue">Profile Status: Not Published</p>
                </div>
                <div class="col-xs-3 no-padding-left">
                  <label class="switch">
                    <input type="checkbox" formControlName="productPublish" value="true">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-2 font-red text-right">
              <p class="pointer" (click)="deleteProfile()">Delete Profile</p>
            </div>
          </div>


          <div class="row top-box-line1">
            <div class="col-md-4 col-xs-11">
              <button class="btn btn-lg btn-info" type="submit" [disabled]="!profileForm.valid">Save</button>
              <span class="padding-right-10"></span>
              <button type="button" class="btn btn-lg btn-info btn-gb" (click)="goToOverview()">Cancel</button>
            </div>
            <div class="col-md-4 col-xs-11 ">
              <div class="checkbox checkbox-primary no-padding-left">
                <input id="next" type="checkbox" value="false" formControlName="nextUnPublished" (click)=" setNextUnpublished()">
                <label for="next" style="line-height: 1.5">
                  Display next unpublished category when saved. <i class="fa fa-lock fa-fw font-blue-light"></i></label>
              </div>
            </div>
            <div class="col-md-4 col-xs-11 ">
              <div class="checkbox checkbox-primary">
                <input id="follow-up" type="checkbox" formControlName="needsFollowUp" value="true">
                <label for="follow-up" style="line-height: 1.5">
                  Needs more follow-up (see notes).
                </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- End Controls -->

      <fieldset>

        <div class="form-group form-group-gb">
          <label for="name" class="col-xs-12 col-form-label text-left">Product Name</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <input id="name" type="text" formControlName="productName"
                       class="form-control form-control-category">
              </div>
              <div class="help-block col-md-4 col-xs-12">
                <div>
                  <!--<p>Source 1: {{ (sourceProfile$| async)?.productName }}</p>-->
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="tag" class="col-xs-12 col-form-label text-left">Tag Line</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <input id="tag" formControlName="productTag"
                       class="form-control form-control-category">
              </div>
              <div class="help-block col-md-4 col-xs-12">
                <p></p>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb" *ngIf="(Categories$ | async)?.length">
          <label class="col-xs-12 col-form-label text-md-right">Category
            <span *ngIf="!mainCategorySelected"
                  class="help-block inline font-red"> (No previous selected main category found)</span>
          </label>
          <div class="container-fluid ">
            <div class="row">
              <div class="col-md-8 col-xs-11">
                <select class="form-control form-control-category" formControlName="productMainCategory">
                  <option *ngFor="let cat of Categories$ | async" [value]="cat?.$key">
                    {{ cat?.categoryName }}
                  </option>
                </select>
                <div class="col-md-12">
                  <div class="row">

                    <div class="checkbox checkbox-primary col-md-2">
                      <input id="1" formControlName="isEayToUse"
                             type="checkbox"
                             value="true">
                      <label for="1">Easy to Use</label>
                    </div>
                    <div class="checkbox checkbox-primary col-md-2 padding-top-15px">
                      <input formControlName="isEasySetup"
                             type="checkbox" id="2"
                             value="true">
                      <label for="2">Easy Setup</label>
                    </div>
                    <div class="checkbox checkbox-primary col-md-2 padding-top-15px">
                      <input formControlName="isPopular"
                             type="checkbox"
                             value="true" id="3">
                      <label for="3">Popular</label>
                    </div>
                    <div class="checkbox checkbox-primary col-md-2 padding-top-15px">
                      <input formControlName="isAffordable"
                             type="checkbox"
                             value="true" id="4">
                      <label for="4">Affordable</label>
                    </div>

                  </div>
                </div>
              </div>
              <div class="help-block col-md-4 col-xs-12">
                <!--<div *ngFor="let list of sourceCategories$ | async; let i = index">-->
                  <!--<p>Source {{ (i+1) }}: {{ getSourceCategoryName(list) }} </p>-->
                <!--</div>-->
              </div>
            </div>
          </div>

        </div>


        <div class="form-group form-group-gb" *ngIf="(Categories$ | async)?.length">
          <div class="container-fluid">
            <label class="col-xs-12 col-form-label text-md-right no-padding-left">Additional Category
              <span *ngIf="!additonalCategoriesSelected"
                    class="help-block inline font-red">( No previous selected categories found )</span>
            </label>
            <div class="row">
              <div class="col-md-8 col-xs-11">
                <select multiple (ngModelChange)="setSelected($event)" formControlName="productAdditionalCategory"
                        class="form-control form-control-category">
                  <option *ngFor="let cat of Categories$ | async" [ngValue]="cat?.$key">
                    {{ cat?.categoryName }}
                  </option>
                </select>
              </div>
              <div class="help-block col-md-4 col-xs-12">
                <!--<div *ngFor="let list of sourceCategories$ | async; let i = index">-->
                  <!--<p>Source {{ (i+1) }}: {{ getSourceCategoryName(list) }} </p>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label class="col-xs-12 col-form-label text-md-right">Company Name</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 col-xs-11">
                <input formControlName="productCompanyName"
                       [(ngModel)]="asyncSelected"
                       [typeahead]="dataSource"
                       [typeaheadItemTemplate]="myCustomItemTemplate"
                       (typeaheadLoading)="changeTypeaheadLoading($event)"
                       (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                       (typeaheadOnSelect)="typeaheadOnSelect($event)"
                       typeaheadOptionsLimit="7"
                       placeholder="Start typing"
                       class="form-control">
                <div *ngIf="typeaheadLoading===true">
                  <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
                </div>
                <div *ngIf="typeaheadNoResults===true" class="" style="">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>

                <ng-template #myCustomItemTemplate let-model="item">
                  <span> {{ model?.CompanyName}}</span>
                </ng-template>
                <div class="row cursor" *ngIf="profileForm.get('productCompanyName').value">
                  <a (click)="openCompanyProfileModal(true)" class="cursor">
                    <p class="company-link cursor">View all
                      products by this Company ( n/a )</p>
                  </a>
                </div>
              </div>
              <div class="help-block col-md-4 col-xs-12">
                <p></p>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="title" class="col-xs-12  col-form-label text-left">Page Title / og:title</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 col-xs-11">
                <input id="title" type="text" formControlName="productPageTitle"
                       class="form-control form-control-category">
              </div>

              <div class="help-block col-md-4 col-xs-12">
                   <!--*ngIf="(sourceMeta$ | async)?.length; else noSourceCat">-->
                <!--<div *ngFor="let list of sourceMeta$ | async; let i = index">-->
                  <!--<p>Source {{ (i+1) }}: {{ list?.title }} </p>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="url" class="col-xs-12 col-form-label text-left">URL / og:url</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <input id="url" type="text" formControlName="productURL"
                       class="form-control form-control-category">
              </div>
              <div class="help-block col-md-4 col-xs-12">
                <!--<p>Source 1: {{ (sourceProfile$| async)?.productURL}}</p>-->
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="trial-url" class="col-xs-12 col-form-label text-left">Free Trial URL / og:url</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <input id="trial-url" type="text" formControlName="productFreeTrialURL"
                       class="form-control form-control-category">
              </div>
              <div class="help-block col-md-4 col-xs-12">
                <!-- no data in database -->
                <!--<p>Source 1: http://www.mitchell.com/free</p>-->
                <!--<p>Source 2: https://www.mitchell.com/freetrial</p>-->
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="description" class="col-xs-12  col-form-label text-left">
            Meta Description / og:description</label>
          <div class="col-md-8 col-xs-11">
          <textarea id="description" rows="3" type="text" formControlName="productMetaDescription"
                    class="form-control form-control-category"></textarea>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="product-description" class="col-xs-12  col-form-label text-left">
            Product description</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 col-xs-11">
          <textarea id="product-description" rows="25" type="text" formControlName="productDescription"
                    class="form-control form-control-category"></textarea>
              </div>
              <div class="help-block col-md-4 col-xs-12">
                <div class="desTitle text-left">
                <span class="padding-right-10">Description</span>
                <span class="padding-right-10">|</span>
                <span class="padding-right-10">Benefits</span>
                <span class="padding-right-10">|</span>
                <span>Other</span>
                </div><!---->
                <div *ngFor="let list of sourceSummary$ | async; let i = index">
                  <p>Source {{ (i+1) }}: {{ list?.summary }} </p>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="product-description" class="col-xs-12  col-form-label text-left">
            Pricing Details</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 col-xs-11">
          <textarea id="pricing-details" rows="10" type="text" formControlName="productPricingDetailsText"
                    class="form-control form-control-category"></textarea>
              </div>
              <div class="help-block col-md-4 col-xs-12"
                   *ngIf="(sourcePricing$ | async)?.length; else noSourceCat">
                <div *ngFor="let list of sourcePricing$ | async; let i = index">
                  <p>Source {{ (i+1) }}: {{ list?.price }} </p>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="pricing-url" class="col-xs-12 col-form-label text-left">Pricing URL</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <input id="pricing-url" type="text" formControlName="productPricingUrl"
                       class="form-control form-control-category">
              </div>
              <div class="help-block col-md-4 col-xs-12">
                  <!-- no data in database -->
                <!--<p>Source 1: http://www.mitchell.com/pricing</p>-->
                <!--<p>Source 2: https://www.mitchell.com/pricing</p>-->
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label class="col-xs-12  col-form-label text-left">Pricing Features</label>

          <div class="container-fluid gb-checkbox-container">
            <div class="col-md-8">
              <div class="checkbox checkbox-primary">
                <input id="price1" type="checkbox" formControlName="productIsFreeTrail"
                       value="true">
                <label for="price1">
                  Free Trial Available </label>
              </div>
              <div class="checkbox checkbox-primary">
                <input type="checkbox" formControlName="productIsFreeVersion"
                       id="price2"
                       value="true">
                <label for="price2">
                  Free Version Available </label>
              </div>
              <div class="row icon-group">
                <i class="fa fa-usd"
                   [ngClass]="{'font-green': (pricingLevel == 1 || pricingLevel == 2 || pricingLevel == 3 || pricingLevel == 4) }"
                   (click)="togglePricingLevel(1)"></i>
                <i class="fa fa-usd"
                   [ngClass]="{'font-green': (pricingLevel == 2 || pricingLevel == 3 || pricingLevel == 4) }"
                   (click)="togglePricingLevel(2)"></i>
                <i class="fa fa-usd" [ngClass]="{'font-green': (pricingLevel == 3 || pricingLevel == 4)  }"
                   (click)="togglePricingLevel(3)"></i>
                <i class="fa fa-usd" [ngClass]="{'font-green': pricingLevel ===  4  }"
                   (click)="togglePricingLevel(4)"></i>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="features" class="col-xs-12  col-form-label text-left">
            Features</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 col-xs-11">
          <textarea id="features" rows="25" type="text" formControlName="productFeaturesText"
                    class="form-control form-control-category"></textarea>
              </div>
              <div class="help-block col-md-4 col-xs-12"
                   *ngIf="(sourceFeatures$ | async)?.length; else noSourceCat">
                <div *ngFor="let list of sourceFeatures$ | async; let i = index">
                  <p>Source {{ (i+1) }}: {{ list?.features }} </p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb" *ngIf="(categoryFeatures$ | async)?.length">
          <label class="col-xs-12  col-form-label text-left">Features</label>

          <div class="container-fluid gb-toolbar">
            <div class="row" *ngFor="let feature of categoryFeatures$ | async">
              <div class="col-md-8">
                <label class="checkbox gb-label" *ngIf="feature">
                  <input type="checkbox" formControlName="productFeaturesCheckBoxes"
                         class=" gb-checkbox"
                         value="feature.$key">
                  {{ feature.$value }}</label>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group form-group-gb">
          <label for="support-details" class="col-xs-12  col-form-label text-left">
            Support Details</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 col-xs-11">
          <textarea id="support-details" rows="15" type="text" formControlName="productSupport"
                    class="form-control form-control-category"></textarea>
              </div>
              <div class="help-block col-md-4 col-xs-12">
                <!--<div *ngFor="let list of sourceSupport$ | async; let i = index">-->
                  <!--<ul class="list-unstyled">Source {{ (i+1) }}:-->
                    <!--<li>Forum: {{ list?.forum }}</li>-->
                    <!--<li>Knowledge base: {{ list?.knowledgeBase }}</li>-->
                    <!--<li>Live Chat: {{ list?.liveChat }}</li>-->
                    <!--<li>Phone: {{ list?.phone }}</li>-->
                    <!--<li>Video Tutorials: {{ list?.videoTutorials }}</li>-->
                    <!--<li *ngIf="list?.other">Other: {{ list?.other }}</li>-->
                  <!--</ul>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label class="col-xs-12  col-form-label text-left">Support Available</label>

          <div class="container-fluid gb-checkbox-container">
            <div class="row col-md-8">
              <div class="col-md-6">
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" formControlName="productPhoneSupport"
                         id="phone"
                         value="true">
                  <label for="phone">
                    Phone Support</label>
                </div>
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" formControlName="productOnlineSupport"
                         id="online"
                         value="2">
                  <label for="online">
                    Online Support </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" formControlName="productRemoteSupport"
                         id="remote"
                         value="true">
                  <label for="remote">
                    Remote Support </label>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="form-group form-group-gb">
          <label class="col-xs-12  col-form-label text-left">Systems Supported</label>
          <div class="container-fluid gb-checkbox-container">
            <div class="row col-md-8">
              <div class="col-md-6">
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" formControlName="productIsWindows" id="win"
                         value="1">
                  <label for="win">
                    Windows</label>
                </div>
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" formControlName="productIsOS"
                         id="os"
                         value="2">
                  <label for="os">
                    Mac OS/X</label>
                </div>
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" formControlName="productIsIOS"
                         id="ios"
                         value="3">
                  <label for="ios">
                    iOS Native App </label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" formControlName="productIsLinux"
                         id="cloud"
                         value="6">
                  <label for="cloud">
                    Linux </label>
                </div>
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" formControlName="productIsAndroid"
                         id="and"
                         value="4">
                  <label for="and">
                    Android Native App</label>
                </div>
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" formControlName="productIsSaaS"
                         id="saas"
                         value="5">
                  <label for="saas">
                    SaaS</label>
                </div>
              </div>

            </div>

          </div>
        </div>


        <div class="form-group form-group-gb">
          <label class="col-xs-12  col-form-label text-left">Platforms Supported</label>

          <div class="container-fluid gb-checkbox-container">
            <div class="row col-md-8">
              <div class="col-md-6">
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" formControlName="productIsCloudBased"
                         id="cbased"
                         value="true">
                  <label for="cbased">
                    Cloud Based</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" formControlName="productIsDesktopBased"
                         id="desktop"
                         value="true">
                  <label for="desktop">
                    Desktop </label>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="video-url" class="col-xs-12  col-form-label text-left">
            Video URL</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 col-xs-11">
                <input id="video-url" formControlName="productVideoURl"
                       class="form-control form-control-category">
              </div>

              <div class="help-block col-md-4 col-xs-12"
                   *ngIf="(sourceVideoUrl$ | async)?.length; else noSourceCat">
                <div *ngFor="let list of sourceVideoUrl$ | async; let i = index">
                  <p>Source {{ (i+1) }}: {{ list?.videoUrl }} </p>
                </div>
              </div>
              <!--<div class="help-block col-md-4 col-xs-12">-->
              <!--<p>Source 1: http://youtube.com/fkdjew</p>-->
              <!--<p>Source 3: http://youtube.com/fkdjew</p>-->
              <!--</div>-->
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label class="col-xs-12  col-form-label text-left">
            Screenshots</label>
          <div class="container-fluid no-padding-left">
            <div class="row col-md-5">
              <div class="col-md-6 col-xs-11">

                <div>
                  <gb-image-upload [folder]="'screenshot1'"
                                   [profile_key]="profileKey"></gb-image-upload>
                </div>

                <div>
                  <gb-image-upload [folder]="'screenshot2'"
                                   [profile_key]="profileKey"></gb-image-upload>
                </div>
              </div>
              <div class="col-md-6 col-xs-11">
                <div>
                  <gb-image-upload [folder]="'screenshot3'"
                                   [profile_key]="profileKey"></gb-image-upload>
                </div>

                <div>
                  <gb-image-upload [folder]="'screenshot4'"
                                   [profile_key]="profileKey"></gb-image-upload>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="search" class="col-xs-12  col-form-label text-left">Search Terms / Key Words<span
            class="help-block inline">For search results and meta keywords</span></label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 col-xs-11">
          <textarea id="search" rows="3" type="text" formControlName="productKeyWords"
                    class="form-control form-control-category"></textarea>
              </div>
              <div class="help-block col-md-4 col-xs-12"
                   *ngIf="(sourceUsers$ | async)?.length; else noSourceCat">
                <h4>Intended Users</h4>
                <div *ngFor="let list of sourceUsers$ | async; let i = index">
                  <p>Source {{ (i+1) }}: {{ list?.typicalUsers }} </p>
                </div>
              </div>
              <!--<div class="help-block col-md-4 col-xs-12">-->
              <!--<h4>Other Source Information</h4>-->
              <!--<p>Intended Users-->
              <!--Source 2: Large Enterprises, Mid Size Business, Small Business</p>-->
              <!--</div>-->
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="notes" class="col-xs-12 col-form-label text-left">Internal Notes <span
            class="help-block inline">Not visible to users</span></label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 col-xs-11">
          <textarea id="notes" rows="3" type="text" formControlName="productInternalNotes"
                    class="form-control form-control-category"></textarea>
              </div>
              <!--<div class="help-block col-md-4 col-xs-12">-->
              <!--<p>Other Categories-->
              <!--Source 1-->
              <!--Rental Software</p>-->

              <!--<p>Source 2-->
              <!--Reservation & Online Booking Software-->
              <!--Vacation Rental Software-->
              <!--Rental Software</p>-->
              <!--</div>-->
            </div>
          </div>
        </div>


      </fieldset>
    </form>


    <ng-template #processing>
      <div class="container text-center">
        <p>Processing...</p>
      </div>

    </ng-template>

    <ng-template #noSourceCat>
      <div class="help-block col-md-4 col-xs-12">
        <div>
          <p>No source data available</p>
        </div>
      </div>
    </ng-template>


  </div>
</div>


<!-- Company Profile Modal   -->
<div bsModal #CompanyProfileModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="CompanyProfileModal" aria-hidden="true">
  <gb-profiles-per-company [CompanyName]="selectedCompanyName" [CompanyID]="selectedCompanyID"
                           (hideCompanyModal)="closeCompanyProfileModal($event)" (routeToProfileKey)="modalRouteToProfile($event)"></gb-profiles-per-company>
</div> <!-- End Company Profile Modal   -->
