<div *ngIf="profiles?.length; else loading">

  <div class="container-fluid" *ngFor="let profile of profiles">
    <div class="col-xs-9 col-md-7" *ngIf="profile; noResults">
      <a [routerLink]="['manage/', profile?.$key]">
        <p class="category-line">
          <i [ngClass]="getPublishedClass(profile?.published)" class="fa fa-fw icon"></i>{{ profile?.productName }}</p>
      </a>
    </div>
    <div class="col-xs-3 col-md-4"><a [routerLink]="['manage/', profile?.$key]" *ngIf="profile">
      <!--<p class="category-line">{{getCompanyName(profile?.companyID)}}</p>-->
    </a>
    </div>


    <ng-template #noResults>
      <div class="col-xs-11 col-md-8" *ngIf="profile">
        <p class="category-line">
          No results found</p>
      </div>
    </ng-template>

  </div>


</div>


<ng-template #loading>
  <div class="container-fluid">
    <div class="col-xs-12 col-md-8 text-center padding-top-25px">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

