/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-gb {
  background-color: #ffffff;
}

.img-gb{
  max-height: 74px;
}

/* EXAMPLE 3

line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

.gb .nav > li > a {
  margin-top: 45px;
  padding-bottom: 0px;
  font-family: 'Avenir';
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #696969;
}

.gb .nav > li > a:hover {
  font-family: 'Avenir';
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #696969;
  background-color: #ffffff;
  cursor: pointer;
}

.gb .navbar-toggle {
  padding: 10px;
  margin: 25px 25px 25px 0;
  .icon-bar {
    background-color: #979797;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 125px;
    padding-top: 20px;
  }
  .gb .navbar-brand {
    height: 80px;
  }
}



