<div class="gb hidden-xs">
  <nav class="navbar navbar-gb navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/']">
          <img class="img-responsive" alt="Logo lg" src="assets/images/main_logo.png">
        </a>
      </div>
      <div id="navbar3" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li ><a [routerLink]="['/categories']">Browse All Categories</a></li>
          <li><a [routerLink]="['/login']">Login</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>





<nav class="navbar navbar-static-top navbar-gb visible-xs">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand col-xs-10 col-xs-offset-1 visible-xs" [routerLink]="['/']"><img class="img-responsive" style="{max-width: 150px}"
                                                                                             alt="Logo xs"
                                                                                             src="assets/images/img-logo.png"></a>

    </div>
  </div>
  <!--/.container-fluid -->
</nav>
