<div id="page-wrapper">
  <div class="container">

    <form [formGroup]="companyForm" novalidate (ngSubmit)="updateCompany()" *ngIf="!saving; else processing"
          class="padding-top-2 padding-bottom-5">

      <!--Controls -->
      <div class="container-fluid">
        <div class="top-box">

          <div class="row top-box-line1">
            <div class="col-md-6">
              <p>Last edited on {{ dateObj | date:'medium' }} by {{ editedBy }}</p>
            </div>
            <div class="col-md-2">
              <p></p>
            </div>
            <div class="col-md-2">
              <div class="row">
                <div class="col-xs-9">
                  <p></p>
                </div>
                <div class="col-xs-3 no-padding-left">
                </div>
              </div>
            </div>
            <div class="col-md-2 font-red" (click)="deleteCompany()">
              <p class="pointer">Delete Company </p>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4 col-xs-11">
              <button class="btn btn-lg btn-info" type="submit" [disabled]="!companyForm.valid">
                Save
              </button>
              <span class="padding-right-10"></span>
              <button type="button" class="btn btn-lg btn-info btn-gb" (click)="goTodashboard()">Cancel</button>
            </div>
            <div class="col-md-6 col-xs-11 ">
              <div class="checkbox">
                <input id="follow-up" type="checkbox" formControlName="needsFollowUp" value="true">
                <label for="follow-up">
                  Needs more follow-up (see notes).
                </label>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- End Controls -->

      <fieldset>

        <div class="form-group form-group-gb">
          <label for="name" class="col-xs-12  col-form-label text-left">Company Name</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 col-xs-11">
                <input id="name" formControlName="companyName" class="form-control form-control-category">
              </div>
              <div class="help-block col-md-4 col-xs-12">
                <!--<p>Source 1: Mitchell</p>-->
                <!--<p>Source 2: Mitchell Inc</p>-->
                <!--<p>Source 3: Mitchell International</p>-->
              </div>
            </div>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="tag" class="col-xs-12  col-form-label text-left">Company Tag Line</label>
          <div class="col-md-8 col-xs-11">
            <input id="tag" formControlName="companyTagLine" class="form-control form-control-category">
          </div>

        </div>


        <div class="form-group form-group-gb">
          <label for="url" class="col-xs-12 col-form-label text-left">Company URL</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <input id="url" formControlName="companyUrl"
                       class="form-control form-control-category">
              </div>
              <div class="help-block col-md-4 col-xs-12">
                <!--<p>Source 1: http://www.mitchell.com/</p>-->
                <!--<p>Source 2: http://www.mitchell.com/</p>-->
                <!--<p>Source 3: https://www.mitchell.com/products</p>-->
              </div>
            </div>
          </div>
        </div>

        <div class="form-group form-group-gb">
          <label for="description" class="col-xs-12  col-form-label text-left">
            Company Description</label>
          <div class="col-md-8 col-xs-11">
          <textarea id="description" rows="3" type="text" formControlName="companyDescription"
                    class="form-control form-control-category"></textarea>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="relatedNames" class="col-xs-12  col-form-label text-left">Other Names
            <span
              class="help-block inline">Not visible to users</span></label>
          <div class="col-md-8 col-xs-11">
          <textarea id="relatedNames" rows="3" type="text" formControlName="companyOtherNames"
                    class="form-control form-control-category"></textarea>
          </div>
        </div>


        <div class="form-group form-group-gb">
          <label for="notes" class="col-xs-12 col-form-label text-left"> Notes <span
            class="help-block inline">Not visible to users</span></label>
          <div class="col-md-8 col-xs-11">
          <textarea id="notes" rows="3" type="text" formControlName="companyNotes"
                    class="form-control form-control-category"></textarea>
          </div>
        </div>


      </fieldset>
    </form>


    <ng-template #processing>
      <div class="container text-center">
        <p>Processing...</p>
      </div>

    </ng-template>

  </div>
</div>
