<div id="page-wrapper">

  <!--Controls -->
  <div class="container-fluid">
    <div class="top-box margin-top-20">

      <form [formGroup]="controllerForm" novalidate>

        <div class="row no-margin-left">
          <div class="col-md-1">
            <h4>Companies</h4>
          </div>
          <div class="col-md-3">
            <a class="font-blue-light add-category">Add a Company</a>
          </div>
        </div>

        <div class="row">

          <div class="col-md-3 col-xs-11 margin-top-5">
            <div class="nav-form" role="search">
              <div class="input-group">
                <input class="form-control" formControlName="searchInput"
                       [(ngModel)]="asyncSelected"
                       [typeahead]="dataSource"
                       [typeaheadItemTemplate]="myCustomItemTemplate"
                       (typeaheadLoading)="changeTypeaheadLoading($event)"
                       (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                       (typeaheadOnSelect)="typeaheadOnSelect($event)"
                       typeaheadOptionsLimit="7"
                       placeholder=""
                       class="form-control">
                <div class="input-group-btn" *ngIf="typeaheadLoading===false">
                  <button class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>
                </div>
                <div class="input-group-addon" *ngIf="typeaheadLoading===true">
                  <i class="glyphicon glyphicon-refresh ng-hide font-blue-light" style=""></i>
                </div>
                <!--<input  class="form-control" placeholder="" formControlName="searchInput">-->
                <!--<div class="input-group-btn">-->
                <!--<button class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>-->
                <!--</div>-->
              </div>
              <ng-template #myCustomItemTemplate let-model="item">
                <div class="dropdown">
                  <span> {{ model?.CompanyName}}</span>
                </div>
              </ng-template>
              <div class="dropdown" *ngIf="typeaheadNoResults===true" class="" style="">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
              </div>
            </div>
          </div>


          <div class="col-md-8 col-xs-9">
            <div class="col-xs-6 text-right">
              <div class="radio radio-primary">
                <input id="andProducts" type="radio" name="collectionSelect" value="products" formControlName="collectionSelect">
                <label for="andProducts"> Companies & Associated Products </label>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="radio radio-primary">
                <input id="onlyCompanies" type="radio" name="collectionSelect" value="companies" formControlName="collectionSelect" checked="">
                <label for="onlyCompanies">
                  Companies Only </label>
              </div>
            </div>
          </div>


        </div>
      </form>
    </div>

  </div>

  <!-- End Controls -->

  <div class="container-fluid margin-top-20 margin-bottom-20" *ngIf="isSearch">
    <div class="col-xs-11 col-md-11 browse-menu">

      <div class="alphabets">
        <a class="active-alp">
          <span>Search: {{ selectedLetter }}</span>
        </a>
      </div>
    </div>
  </div>


  <div class="container-fluid margin-top-20 margin-bottom-20">
    <div class="col-xs-11 col-md-11 browse-menu">

      <div class="alphabets">
        <a *ngFor="let objAlpha of Alphabet; i"
           [ngClass]="{'active-alp': selectedLetter == objAlpha}">
          <span (click)="toggleLetter(objAlpha)">{{ objAlpha | uppercase}}</span>
        </a>
      </div>
    </div>
  </div>


  <gb-company-by-letter [letter]="selectedLetter" (selectedLetter)="setInputLetter($event)"></gb-company-by-letter>


</div>
