<gb-header></gb-header>

<!-- *** sm - md -lg - page -->
<div class="container margin-bottom-20 hidden-xs" *ngIf="profile; else loading"> <!--Start Content -->
  <div class="row">
    <div class="col-md-9 col-md-offset-3 col-xs-12">


      <ol class="breadcrumb">
        <li><a [routerLink]="['/categories/']">All Categories</a></li>
        <li *ngIf="hasParent"><a [routerLink]="['/results/', parentBreadCrumbUrl ]">{{ parentBreadCrumb}}</a></li>
        <li><a [routerLink]="['/results/',breadCrumbUrl ]">{{ breadCrumb}}</a></li>
        <li class="active">{{ activeBreadCrumb}}</li>
      </ol>


      <div class="row"> <!-- Title -->
        <div class="col-md-9">
          <div class="title">
            <h1 class="h1-profile no-margin-bottom">{{ profile?.productName }}</h1>
            <h4 class="h4-profile no-margin-top">{{ profile?.productTagline }}</h4>
          </div>
          <ul class="detail-list">
            <li class="detail-list-item padding-right-20"><span style="font-size: 12px;">{{ profile?.productCompanyName }} | {{ profile?.productCompanyURL }}</span>
            </li>
            <li class="detail-list-item padding-right-20"><span>Systems
                    <span class="padding-left-5"><i *ngIf="profile?.productIsWindows == true" class="fa fa-windows"></i></span>
                    <span class="padding-left-5"><i *ngIf="profile?.productIsOS == true" class="fa fa-apple"></i></span>
                    <span class="padding-left-5"><i *ngIf="profile?.productIsLinux == true"
                                                    class="fa fa-linux"></i></span>
            </span></li>
            <li class="detail-list-item"><span class="padding-right-5">
                  <i *ngIf="profile?.productIsDesktopBased == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsDesktopBased == false" class="glyphicon glyphicon-ban-circle"></i>
              Desktop</span>
              <span>
                  <i *ngIf="profile?.productIsCloudBased == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsCloudBased  == false" class="glyphicon glyphicon-ban-circle"></i>
                Cloud Based</span>
            </li>
          </ul>

        </div>
        <div class="col-md-3">
          <div class="btn-group-vertical">
            <button *ngIf="profile?.productURL" class="btn btn-info"
                    (click)="goToExternalProfilePage(profile?.productURL)">Product Website
            </button>
            <button *ngIf="profile?.productFreeTrialURL" class="btn btn-info"
                    (click)="goToExternalFreeTrailProfilePage(profile?.productFreeTrialURL)">Free Trail
            </button>
          </div>
        </div>
      </div><!-- End Title-->


      <hr class="line">

      <div class="row"> <!-- Description Block -->
        <div class="col-md-9">
          <div class="description">
            <p class="p-profile">{{ profile?.productDescription }}</p>
          </div>

          <div class="pricing">
            <h2 class="h2-profile">{{ profile?.productName }} Pricing
              <span class="icon-group">
                <i class="fa fa-usd"
                   [ngClass]="{'font-green': (pricingLevel == 1 || pricingLevel == 2 || pricingLevel == 3 || pricingLevel == 4) }"></i>
                <i class="fa fa-usd"
                   [ngClass]="{'font-green': (pricingLevel == 2 || pricingLevel == 3 || pricingLevel == 4) }"></i>
                <i class="fa fa-usd" [ngClass]="{'font-green': (pricingLevel == 3 || pricingLevel == 4)  }"></i>
                <i class="fa fa-usd" [ngClass]="{'font-green': pricingLevel ===  4  }"></i>
              </span>
            </h2>
            <p class="p-profile">{{ profile?.productPricingDetailsText }}.</p>

            <p class="text-capitalize row no-margin-left p-profile">
              <span class="padding-right-5">
                  <i *ngIf="profile?.productIsFreeVersion == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsFreeVersion == false" class="glyphicon glyphicon-ban-circle"></i>
                Free Version Available</span>
              <span class="padding-right-5">
                  <i *ngIf="profile?.productIsFreeTrail == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsFreeTrail == false" class="glyphicon glyphicon-ban-circle"></i>
                Free Trial Available</span>
            </p>
          </div>

          <div class="features">
            <h2 class="h2-profile">{{ profile?.productName }} Features</h2>
            <p class="p-profile">{{profile?.productFeaturesText}}</p>

            <ul class="list-group-profile" *ngFor="let feature of profile?.productFeaturesCheckBoxes">
              <li class="list-group-item-profile">{{ feature }}
              </li>
            </ul>


          </div>

          <div class="support">
            <h2 class="h2-profile">{{ profile?.productName }} Support</h2>
            <p class="p-profile">{{ profile?.productSupport}}</p>
          </div>

          <ul class="list-group-profile">
            <li class="list-group-item-profile" *ngIf="profile?.productOnlineSupport == true">Online support
            </li>
            <li class="list-group-item-profile" *ngIf="profile?.productPhoneSupport == true">Phone support
            </li>
            <li class="list-group-item-profile" *ngIf="profile?.productRemoteSupport == true">Remote support
            </li>
          </ul>

        </div>


        <div class="col-md-3 image-col">
          <iframe width="304" height="236" [src]="mediaUrl" frameborder="0" allowfullscreen *ngIf="mediaUrl"></iframe>
          <gb-image-container [profile_key]="profile?.$key" [folder]="'screenshot1'"></gb-image-container>
          <gb-image-container [profile_key]="profile?.$key" [folder]="'screenshot2'"></gb-image-container>
          <gb-image-container [profile_key]="profile?.$key" [folder]="'screenshot3'"></gb-image-container>
          <gb-image-container [profile_key]="profile?.$key" [folder]="'screenshot4'"></gb-image-container>
        </div>

      </div>

    </div>


  </div>
</div>


<!-- ** xs / mobile page Starts Below -->
<div class="container-fluid bg-color-grey no-margin-bottom visible-xs" *ngIf="profile"> <!--Start Content -->

  <div class="no-margin-bottom padding-left-15 padding-top-15px">
    <ol class="breadcrumb breadcrumb-mobile">
      <li><a [routerLink]="['/categories/']">All Categories</a></li>
      <li *ngIf="hasParent"><a [routerLink]="['/results/', parentBreadCrumbUrl ]">{{ parentBreadCrumb}}</a></li>
      <li><a [routerLink]="['/results/',breadCrumbUrl ]">{{ breadCrumb}}</a></li>
      <li class="active">{{ activeBreadCrumb}}</li>
    </ol>
  </div>

</div>



<div class="container bg-color-white margin-bottom-20 visible-xs" *ngIf="profile; else loading">

  <div class="col-xs-12">

    <div class="title">
      <h1 class="h1-profile no-margin-bottom">{{ profile?.productName }}</h1>
      <h4 class="h4-profile no-margin-top">{{ profile?.productTagline }}</h4>
    </div>

    <div class="company">
      <span style="font-size: 12px;">{{ profile?.productCompanyName }} | {{ profile?.productCompanyURL }}</span>
    </div>

    <div class="icons row">
      <div class="col-xs-6">
        Systems
        <span class="padding-left-5"><i *ngIf="profile?.productIsWindows == true" class="fa fa-windows"></i></span>
        <span class="padding-left-5"><i *ngIf="profile?.productIsOS == true" class="fa fa-apple"></i></span>
        <span class="padding-left-5"><i *ngIf="profile?.productIsLinux == true"
                                        class="fa fa-linux"></i></span>
      </div>
      <div class="col-xs-6">
            <span class="padding-right-5">
                  <i *ngIf="profile?.productIsDesktopBased == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsDesktopBased == false" class="glyphicon glyphicon-ban-circle"></i>
              Desktop</span>
      </div>
      <div class="col-xs-6 col-xs-offset-6 padding-bottom-5 padding-top-2">
        <span class="padding-right-5">
                  <i *ngIf="profile?.productIsCloudBased == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsCloudBased  == false" class="glyphicon glyphicon-ban-circle"></i>
                Cloud Based</span>
      </div>
    </div>
  </div>
  <div class="col-xs-12 padding-bottom-5">
    <button *ngIf="profile?.productURL" class="btn btn-info"
            (click)="goToExternalProfilePage(profile?.productURL)">Product Website
    </button>
    <button *ngIf="profile?.productFreeTrialURL" class="btn btn-info"
            (click)="goToExternalFreeTrailProfilePage(profile?.productFreeTrialURL)">Free Trail
    </button>

  </div>
  <!-- End Title-->


  <hr class="mobile-line">

  <!-- Description Block -->
  <div class="col-xs-10 col-xs-offset-1">
    <div class="description">
      <p class="p-profile">{{ profile?.productDescription }}</p>
    </div>

    <div class="pricing">
      <h2 class="h2-profile">{{ profile?.productName }} Pricing
        <span class="icon-group">
                <i class="fa fa-usd"
                   [ngClass]="{'font-green': (pricingLevel == 1 || pricingLevel == 2 || pricingLevel == 3 || pricingLevel == 4) }"></i>
                <i class="fa fa-usd"
                   [ngClass]="{'font-green': (pricingLevel == 2 || pricingLevel == 3 || pricingLevel == 4) }"></i>
                <i class="fa fa-usd" [ngClass]="{'font-green': (pricingLevel == 3 || pricingLevel == 4)  }"></i>
                <i class="fa fa-usd" [ngClass]="{'font-green': pricingLevel ===  4  }"></i>
              </span>
      </h2>
      <p class="p-profile">{{ profile?.productPricingDetailsText }}.</p>

      <p class="text-capitalize row no-margin-left p-profile">
              <span class="padding-right-5 col-xs-12">
                  <i *ngIf="profile?.productIsFreeVersion == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsFreeVersion == false" class="glyphicon glyphicon-ban-circle"></i>
                Free Version Available</span>
        <span class="padding-right-5 col-xs-12">
                  <i *ngIf="profile?.productIsFreeTrail == true" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="profile?.productIsFreeTrail == false" class="glyphicon glyphicon-ban-circle"></i>
                Free Trial Available</span>
      </p>
    </div>

    <div class="features">
      <h2 class="h2-profile">{{ profile?.productName }} Features</h2>
      <p class="p-profile">{{profile?.productFeaturesText}}</p>

      <ul class="list-group-profile" *ngFor="let feature of profile?.productFeaturesCheckBoxes">
        <li class="list-group-item-profile">{{ feature }}
        </li>
      </ul>


    </div>

    <div class="support">
      <h2 class="h2-profile">{{ profile?.productName }} Support</h2>
      <p class="p-profile">{{ profile?.productSupport}}</p>
    </div>

    <ul class="list-group-profile">
      <li class="list-group-item-profile" *ngIf="profile?.productOnlineSupport == true">Online support
      </li>
      <li class="list-group-item-profile" *ngIf="profile?.productPhoneSupport == true">Phone support
      </li>
      <li class="list-group-item-profile" *ngIf="profile?.productRemoteSupport == true">Remote support
      </li>
    </ul>

  </div>


  <div class="col-xs-10 col-xs-offset-1">
    <h2 class="h2-profile">{{ profile?.productName }} Screenshots</h2>
    <iframe width="100%" height="auto" [src]="mediaUrl" frameborder="0" allowfullscreen *ngIf="mediaUrl"></iframe>
    <gb-image-container [profile_key]="profile?.$key" [folder]="'screenshot1'"></gb-image-container>
    <gb-image-container [profile_key]="profile?.$key" [folder]="'screenshot2'" ></gb-image-container>
    <gb-image-container [profile_key]="profile?.$key" [folder]="'screenshot3'" ></gb-image-container>
    <gb-image-container [profile_key]="profile?.$key" [folder]="'screenshot4'" ></gb-image-container>
  </div>


</div>





<!-- Footer Starts here -->
<gb-footer></gb-footer>

<ng-template #loading>
  <div class="container text-center margin-top-20 margin-bottom-20 padding-top-25px padding-bottom-20">
    <p class="margin-top-20 margin-bottom-20 padding-top-25px padding-bottom-20 text-center">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </p>
    <p class="margin-top-20 margin-bottom-20 padding-top-25px padding-bottom-20 text-center">Getting Ready...</p>
  </div>
</ng-template>
