
.body {
  font-family: "AvenirBook", sans-serif;
}

.breadcrumb {
  font-family: "Avenir";
  font-size: 10px;
  font-weight: 300;
  text-align: left;
  color: #696969;
  background-color: #ffffff;
  padding: 8px 0;
}

.breadcrumb > li + li:before {
  color: #696969;
  content: "> ";
  padding: 0 5px;
}

.breadcrumb a {
  color: #696969;
}




.h1-profile {
  height: 30px;
  font-family: "Avenir-Book";
  font-size: 22px;
  text-align: left;
  color: #b11017;
}

.h2-profile {
  font-family: 'Avenir-Book';
  font-size: 18px;
  text-align: left;
  color: #696969;
  padding-bottom: 5px;
  border-bottom:  solid 0.5px #b11017;
  margin-bottom: 10px;

}

.h4-profile {
  font-family: "Avenir";
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #b11017;
}

.p-profile {
  font-family: 'Avenir';
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
  color: #696969;
}

.detail-list {
  list-style-type: none;
  padding-left: 0;
}

.detail-list-item {
  display: inline;
  text-decoration: none;
  font-family: 'Avenir';
  line-height: 2.75;
  text-align: left;
  color: #696969;
}

.line {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: solid 0.5px #b11017;
}

.btn-group-vertical {
  > button {
    min-height: 36px;
    border-radius: 2px !important;
    background-color: #00a3fa;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  > button:first-child {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.icon-group {
  padding-right: 5px;
    font-size: 16px;
    color: #696969;
}

.image-col {
  > img {
    margin-bottom: 20px;
  }
}

.list-group-profile{
  font-family: 'Avenir';
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
  color: #696969;

}


.list-group-item-profile{

}


/** Mobile Styling **/
.breadcrumb-mobile {
  font-family: "Avenir";
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #696969;
  background-color: #f5f5f5;
  padding: 8px 0;
}

.breadcrumb-mobile > li + li:before {
  color: #696969;
  content: "> ";
  padding: 0 5px;
}

.breadcrumb-mobile a {
  color: #696969;
}

.company{
  font-family: 'Avenir';
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #696969;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icons{
  font-family: Avenir;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #696969;
}

.mobile-line {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  align: center;
  border: solid 0.5px #b11017;
}

