/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

body {
  margin-top: 100px;
  background-color: #222;
  font-family: "AvenirBook", sans-serif;
}

@media(min-width: 768px) {
  body {
    margin-top: 50px;
  }
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}

#admin-logo {
  padding-left: 15px;
}

.huge {
  font-size: 50px;
  line-height: normal;
}

@media(min-width: 768px) {
  #wrapper {
    padding-left: 225px;
  }

}

@media(min-width: 768px) {
  #page-wrapper {
    margin-top: 80px ;
    padding: 10px;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 300;
    font-color: #696969;
  }
}

@media(min-width: 300px) and  (max-width: 765px){
  #page-wrapper {
    margin-top: 220px ;
    padding: 10px;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 300;
    font-color: #696969;
  }
}

/* Nav Bar */

.navbar-inverse{
  background-color: #3a3a49;
}

.navbar-header {
  width: 225px;
  min-height: 80px;
  background-color: #393949;
  box-shadow: 2px -6px 11px 0 rgba(0, 0, 0, 0.28);
}

/* Top Navigation */

.top-nav {
  padding: 10px 15px;
}

.top-nav > li {
  display: inline-block;
  float: left;
}

.top-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  font-family: Avenir-Book;
  font-size: 14px;
  text-align: left;
  color: #FFFFFF;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
  color: #FFFFFF;
  background-color: transparent;
}

.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, .15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav > .open > .dropdown-menu > li > a {
  white-space: normal;
}

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

li.message-footer {
  margin: 5px 0;
}

ul.alert-dropdown {
  width: 200px;
}

/* Side Navigation */

@media(min-width: 768px) {
  .side-nav {
    position: fixed;
    top: 80px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #4f4f5c;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .side-nav > li > a {
    width: 225px;
    height: 46px;
    font-family: Avenir-Book;
    font-size: 16px;
    line-height: 2.05;
    padding-left: 23px;
    text-align: left;
    color: #ffffff;
  }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
  }
}

.side-nav > li > ul {
  padding: 0;
}

.side-nav > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}

.side-nav > li > ul > li > a:hover {
  color: #ffffff;
}

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* Custom Colored Panels */

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

.panel-green > a {
  color: #5cb85c;
}

.panel-green > a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}

.panel-red > a {
  color: #d9534f;
}

.panel-red > a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

.panel-yellow > a {
  color: #f0ad4e;
}

.panel-yellow > a:hover {
  color: #df8a13;
}


.dropdown{
  > a {
    cursor: pointer;
  }
  .dropdown-item{
    > a {
      cursor: pointer;

    }
    > i{
      cursor: pointer;
    }
  }
}

.cursor{
  padding-left: 5px;
  cursor: pointer;
}
