<div id="wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand center-block" id="admin-logo" [routerLink]="['/admin/dashboard']"><img
        class="img-responsive"
        src="assets/images/logo_admin.png"></a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-left top-nav">
      <li><a>{{pageTitle$ | async}}</a></li>
    </ul>
    <ul class="nav navbar-right top-nav">
      <li class="dropdown" bsDropdown [autoClose]="true">
        <a bsDropdownToggle class="dropdown-toggle" data-toggle="dropdown"> {{ (user$ | async)?.displayName }} <b
          class="caret"></b></a>
        <ul *bsDropdownMenu class="dropdown-menu">
          <!--<li>-->
          <!--<a class="dropdown-item"><i class="fa fa-fw fa-user"></i> <span class="cursor">Profile</span></a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a class="dropdown-item"><i class="fa fa-fw fa-envelope"></i><span class="cursor"> Inbox</span></a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a class="dropdown-item"><i class="fa fa-fw fa-gear"></i><span class="cursor"> Settings</span></a>-->
          <!--</li>-->
          <!--<li class="divider"></li>-->
          <li>
            <a class="dropdown-item" (click)="logOut()"><i class="fa fa-fw fa-power-off"></i><span class="cursor">Log Out</span></a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <a [routerLink]=" ['dashboard'] ">Dashboard</a>
        </li>
        <li>
          <a [routerLink]="['categories']">Category Management</a>
        </li>
        <li>
          <a [routerLink]="['profiles'] ">Profile Management</a>
        </li>
        <li>
          <a [routerLink]=" ['companies'] "> Company Management</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>


  <router-outlet></router-outlet>


</div>
