<gb-header-category></gb-header-category>


<div class="jumbotron jumbotron-browse hidden-xs">
  <div class="container">
    <div class="col-md-6 col-md-offset-1 col-sm-7 col-sm-offset-2  padding-left-25">
      <h4 class="browse-header1">Every business has unique problems to solve.</h4>
      <h4 class="browse-header1">Let&#39;s find the best solution for <i>you</i>!</h4>
    </div>
    <div class="col-md-3 col-md-offset-2 col-sm-3 padding-left-35">
      <img class="img-responsive" src="/assets/images/mask-copy.png" alt="">
    </div>
  </div>
</div>


<div class="jumbotron jumbotron-browse visible-xs">
  <div class="container mobile">
    <div class="col-xs-9">
      <h4 class="browse-header1">Every business has unique problems to solve. Let&#39;s find the best solution for <i>you</i>!
      </h4>
    </div>
    <div class="col-xs-3">
      <img src="/assets/images/img-header-browse-m.png" alt="">
    </div>
    <div class="col-xs-10 col-xs-offset-1">
      <form class="navbar-form mobile" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="What needs Attention?" name="q">
          <div class="input-group-btn">
            <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container ">
  <div class="col-xs-12 col-md-9 col-md-offset-3 browse-menu no-padding-left">

    <div class="alphabets hidden-xs col-sm-12">
      <a *ngFor="let objAlpha of Alphabet" [ngClass]="activeAlphabetCheck(objAlpha)">
        <span (click)="showCategory(objAlpha)">{{ objAlpha | uppercase}}</span>
      </a>
    </div>


    <div class="display-option hidden-xs">
      <a [ngClass]="{'active-option' : !showAllCategories}" (click)="togglePresentCategories(false)">
        Group by Solution Types
      </a>
      <span>|</span>
      <a [ngClass]="{'active-option' : showAllCategories}" (click)="togglePresentCategories(true)">
        Display All Categories in Alphabetical Order
      </a>
    </div>

    <div class="display-option-mobile col-xs-12 no-padding-left margin-top-10 visible-xs">
      <a [ngClass]="{'active-option' : !showAllCategories}" (click)="togglePresentCategories(false)">
        Group by Solutions
      </a>
      <span>|</span>
      <a [ngClass]="{'active-option' : showAllCategories}" (click)="togglePresentCategories(true)">
        All Categories in Alphabetical Order
      </a>
    </div>

  </div>

</div>

<div *ngIf="!showSingleCategory; else showSingle"> <!-- boolean for list -->

  <div *ngIf="showAllCategories; else perType"> <!-- boolean for abc list -->

    <div *ngFor="let letter of Alphabet">

      <div *ngIf="letter">
        <gb-category-abc [letter]="letter"></gb-category-abc>
      </div>
    </div>

  </div>


  <ng-template #perType> <!-- boolean for per solution -->
    <div *ngFor="let letter of Alphabet">
      <div *ngIf="letter">
        <gb-category-solution [letter]="letter"></gb-category-solution>
      </div>
    </div>
  </ng-template>

</div>

<ng-template #showSingle> <!-- boolean for single -->
  <div *ngIf="showAllCategories">
    <gb-category-abc [letter]="selectedLetter"></gb-category-abc>
  </div>

  <div *ngIf="!showAllCategories">
    <gb-category-solution [letter]="selectedLetter"></gb-category-solution>
  </div>
</ng-template>

<gb-footer></gb-footer>
