body {
  font-family: "AvenirBook", sans-serif;
  color: #696969;
}

.jumbotron-browse {
  padding-top: 0;
  height: 116px;
  background-color: #fafafa;
}

.browse-header1 {
  font-family: 'Avenir-Book';
  font-size: 24px;
  text-align: left;
  color: #b11017;
}

.browse-menu {
  margin-bottom: 5px;
  transition: all 0.3s ease-in;
}

.browse-menu .alphabets {
  clear: both;
  padding-left: 2px;
}

.browse-menu .alphabets a {
  padding: 0px 5px;
  font-family: 'Avenir-Book';
  font-size: 22px;
  text-align: left;
  color: #696969;
  text-decoration: none;
  cursor: pointer;
}

.browse-menu .alphabets a.active-alp {
  color: #696969;
}

.browse-menu .alphabets a.no-record {
  opacity: 0.5;
  cursor: default;
}

.browse-menu .display-option {
  padding: 10px 5px;
}

.browse-menu .display-option a {
  font-family: 'Avenir';
  font-size: 12px;
  color: #696969;
  cursor: pointer;
  text-decoration: none;
}

.browse-menu .display-option span {
  padding: 0px 3px;
}

.browse-menu .display-option a.active-option {
  color: #b11017;
}

.groupby {
  padding-top: 25px;
}

.groupby .group .title {
  margin: 0px;
  border-bottom: 1px solid #979797;
  padding: 4px 12px;
  font-family: "AvenirMedium", sans-serif;
  font-size: 22px;
  margin-bottom: 12px;
}

.groupby .group .title span.glyphicon {
  font-size: 14px;
}

.groupby .group .title span.glyphicon:after {
  content: "\e113";
}

.groupby .group .title.collapsed span.glyphicon:after {
  content: "\e114";
}

.groupby .group .inner-title {
  padding: 4px 12px 6px;
  font-size: 22px;
  margin: 0px;
}

.groupby .group .list {
  padding: 0px 12px;
  list-style: none;
}

.groupby .group .list li {
  padding: 6px 0px;
}

.mobile {
  background-color: #fafafa;
  h4 {
    font-size: 20px;
  }
  img{
    max-width: 84px;
  }
  .navbar-form{
    padding: 0px 15px;
    margin-top: 0px;
  }
}

.display-option-mobile{

 a {
   font-family: 'Avenir';
    font-size: 12px;
    color: #696969;
    cursor: pointer;
    text-decoration: none;
  }

  span {
    padding: 0px 3px;
  }

 a.active-option {
   color: #696969;;
   cursor: pointer;
  }
}
