<div id="page-wrapper">
  <div class="container-fluid">
    <h4>
      Welcome {{ displayname }}
    </h4>
  </div>

  <div class="container padding-top-25px" *ngIf="setDisplayName">
    <label>Your Displayname</label>
    <input type="text"  [(ngModel)]="displayname" placeholder="Please update your display name">
    <button class="btn btn-info" (click)="updateDisplayname()">Update</button>
  </div>







</div>
