body {
  font-family: "AvenirBook", sans-serif;
  color: #696969;
  font-size: 14px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

//.main-content-wrapper {
//  max-width: 830px;
//}












///*Banner section style*/
.banner-section {
  width: 100%;
  min-height: 480px;
  background: url(/assets/images/img-hero.png) no-repeat 0;
  padding: 0px 30px;
  margin-bottom: 0;
};


///*Banner section style*/
.banner-section-mobile {
  width: 100%;
  min-height: 333px;
  background: url(/assets/images/img-hero-m.svg) no-repeat 0;
  padding: 10px 30px;
  margin-bottom: 0;
  margin-top: 10px;
};

.banner-section h1 {
  font-family:"AvenirBookOblique", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #d00009;
}

.banner-section h1 span {
  font-family: "AvenirBookOblique", sans-serif;
}


.banner-section .input-group-addon {
  background-color: #00a3fa;
  font-size: 18px;
  color: #ffffff;
  font-family: 'Avenir', sans-serif;;
  font-weight: 500;
  border: 1px solid #00a3fa;
  border-radius: 0px;
  text-align: left;
}

.banner-section .input-group-addon:hover {
  background-color: #1197df;
  border-color: #1197df;
}

.banner-section .input-group-addon:active {
  background-color: #28b4ff;
  border-color: #28b4ff;
}

.search-container{
  padding-top: 210px;
  padding-left: 35px;
}

.input-group-lg-gb{

  input {
    height: 54px;
    border-radius: 4px 0px 4px 4px;
    background-color: #ffffff;
    border: solid 1px #979797;
    font-family: 'Avenir';
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: #868686;
  }
}




.banner-section .examples {
  font-family: "Avenir";
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  color: #d6d6d6;
  padding-left: 15px;
}




.mobile {
  background-color: transparent;
  h4 {
    font-family: 'Avenir';
    font-size: 28px;
    font-weight: 300;
    text-align: left;
    color: #b11017;
  }
  .navbar-form{
    padding: 130px 0 0 0;
    margin-top: 0px;
  }
  .help-block{
    font-family: 'Avenir';
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    color: #d6d6d6
  }
}


.link-mob{
  margin-top: 10px;
  a {
    font-family: 'Avenir';
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    color: #696969;
  }
}
