<div class="hidden-xs">

  <div class="jumbotron banner-section">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 col-xs-12 padding-top-25px">
        <h1>We’re also entrepreneurs. Let’s find the best</h1>
        <h1 class="no-margin-top">software to help grow <span>your</span> business - together.</h1>

        <form>
          <div class="col-md-10 col-md-offset-1 col-xs-12 search-container">
            <div class="input-group input-group-lg input-group-lg-gb">
              <input class="form-control" placeholder="Which area of your business needs attention?">
              <span type="button" class="input-group-addon btn btn-primary">Find Software</span>
            </div>
            <span class="examples hidden-xs">Examples: Accounting, Project Management, Human Resources, Marketing</span>
            <span class="examples visible-xs">Examples: Accounting, Project Management</span>
          </div>
        </form>


      </div>
    </div>
  </div>

</div>


<!--Image is for 375px and needs to be adjusted to 430 max-->

<div class="visible-xs">

  <div class="jumbotron banner-section-mobile">
    <div class="mobile padding-top-2">
      <div class=" col-xs-12">
        <h4 class="browse-header1">We help select the best software for <i>your</i> business.
        </h4>
      </div>
      <div class="col-xs-12">
        <form class="navbar-form mobile" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="What needs Attention?" name="q">
            <div class="input-group-btn">
              <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
          <div class="help-block">
            Examples: Accounting, Project Management
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-xs-12 link-mob">
    <a [routerLink]="['/categories']">Browse All Categories</a>
  </div>
</div>

