<gb-header></gb-header>

<div class="container-fluid">
  <div class="col-xs-12 content-section">
    <div class="container main-content-wrapper">
      <div class="col-sm-12 col-xs-12 categories" *ngIf="documents.length; else nothing">
        <h3>Learn more about</h3>
        <ul *ngFor="let document of documents" class="gridrow">
          <li><a [routerLink]="[linkResolver(document)]">{{document.slug}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #nothing>
  <div class="col-sm-6 col-xs-12 categories">
    <h3>Come back later</h3>
  </div>
</ng-template>

<gb-footer></gb-footer>
