
body {
  font-family: "AvenirBook", sans-serif;
  color: #696969;
  font-size: 14px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.main-content-wrapper {
  max-width: 830px;
}

/*Header Section Style*/
.header-section {
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  padding: 0px 30px;
  z-index: 9;
  transition: all 0.3s ease-in;
}

.header-section .logo {
  width: 147px;
  margin-bottom: 13px;
  transition: all 0.3s ease-in;
}

.header-section .browse-categories {
  font-size: 12px;
  float: right;
  margin-top: 70px;
  transition: all 0.3s ease-in;
}

.header-section .browse-categories a {
  cursor: pointer;
  color: #696969;
  text-decoration: none;
}

/*Banner section style*/
.banner-section {
  //background: url(assets/images/img-hero@2x.png) no-repeat;
  background: url(/assets/images/img-hero@2x.png) no-repeat;
  width: 100%;
  height: 420px;
  background-size: 936px;
  background-position: 0;
  padding: 0px 30px;
}

.banner-section h1 {
  margin-top: 52px;
  margin-bottom: 0px;
  font-size: 34px;
  font-weight: normal;
  width: 90%;
  color: #b11017;
  line-height: 46px;
  text-align: center;
}

.banner-section h1 span {
  font-family: "AvenirBookOblique", sans-serif;
}

.banner-section .search-box-group {
  margin-top: 124px;
  display: block;
  height: 55px;
}

.banner-section .search-box-group input[type='text'] {
  width: 486px;
  height: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #979797;
  padding: 0px 15px;
  outline: none;
  font-size: 18px;
}

.banner-section .search-box-group input[type='text']::-webkit-input-placeholder {
  color: #979797;
}

.banner-section .search-box-group input[type='text']::-moz-placeholder {
  color: #979797;
}

.banner-section .search-box-group input[type='text']:-ms-input-placeholder {
  color: #979797;
}

.banner-section .search-box-group input[type='text']:-moz-placeholder {
  color: #979797;
}

.banner-section .search-box-group input[type='button'] {
  width: 171px;
  height: 100%;
  background-color: #00a3fa;
  font-size: 18px;
  color: #ffffff;
  font-family: "AvenirMedium", sans-serif;
  font-weight: 500;
  border: 1px solid #00a3fa;
  margin-left: -6px;
  outline: none;
}

.banner-section .search-box-group input[type='button']:hover {
  background-color: #1197df;
  border-color: #1197df;
}

.banner-section .search-box-group input[type='button']:active {
  background-color: #28b4ff;
  border-color: #28b4ff;
}

.banner-section > span {
  font-size: 16px;
  color: #979797;
  display: inline-block;
  padding: 6px 13px;
}

/*Content Section Style*/
.content-section {
  background-color: #ffffff;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.19);
  padding: 59px 15px;
}

.categories.popular:after {
  content: "";
  width: 1px;
  height: calc(100% - 62px);
  position: absolute;
  background: #b11017;
  top: 43px;
  right: 15px;
}

.categories h3 {
  font-size: 22px;
  margin-bottom: 11px;
  min-height: 24px;
  margin-top: 0px;
}

.categories ul {
  list-style: none;
  padding: 0px;
}

.categories ul li {
  padding: 5px 0px;
}

/*Footer Section*/
.footer-section {
  font-family: Avenir-Light;
  height: 160px;
  background-color: #656a72;
  text-align: center;
  color: #fff;
  letter-spacing: 0.5px;
  padding: 34px 0px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section .footer-top-menu {
  margin-bottom: 25px;
}

.footer-section .footer-top-menu span.separator {
  padding: 5px 7px;
  line-height: 2px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.footer-section .footer-bottom-menu {
  margin-bottom: 8px;
}

.footer-section .footer-bottom-menu span.separator {
  padding: 7px;
  line-height: 2px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.footer-section .copyright {
  color: #fff;
  font-size: 12px;
}

.rocket {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/*Browse Categories Innerpage*/
.content-section.browsedata-section {
  padding-top: 0px;
}

.browsedata-section .browse-banner-section {
  display: table;
  background: url(/assets/images/browse_banner.jpg) #fafafa no-repeat;
  //background:  #fafafa no-repeat;
  min-height: 118px;
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 20px 30px;
}

.browsedata-section .browse-banner-section h4 {
  font-size: 24px;
  color: #b11017;
}

.browsedata-section .browse-banner-section h4.browse-header1 {
  font-family: "AvenirMedium", sans-serif;
}

.browsedata-section .browse-banner-section h4 span {
  font-family: "AvenirBookOblique", sans-serif;
}

.browse-categories-innerpage .header-section {
  padding-bottom: 8px;
}

.browse-categories-innerpage .header-section .logo {
  width: 78px;
  margin-bottom: 0px;
  margin-top: -4px;
}

.browse-categories-innerpage .header-section .browse-categories {
  margin-top: 15px;
  margin-bottom: 18px;
}

.browse-menu {
  margin-top: 25px;
  padding: 0px 15px;
  margin-bottom: 5px;
  transition: all 0.3s ease-in;
}

.browse-menu .alphabets {
  clear: both;
}

.browse-menu .alphabets a {
  padding: 0px 5px;
  font-size: 22px;
  font-family: "AvenirMedium", sans-serif;
  color: #696969;
  text-decoration: none;
  cursor: pointer;
}

.browse-menu .alphabets a.active-alp {
  color: #b11017;
}

.browse-menu .alphabets a.no-record {
  opacity: 0.5;
}

.browse-menu .display-option {
  padding: 0px 5px;
}

.browse-menu .display-option a {
  font-size: 12px;
  color: #696969;
  cursor: pointer;
  text-decoration: none;
}

.browse-menu .display-option span {
  padding: 0px 3px;
}

.browse-menu .display-option a.active-option {
  color: #b11017;
}

/*menu scroll*/
.header-section.scrolled {
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  max-width: 830px;
  transition: all 0.3s ease-in;
}

.header-section.scrolled .logo {
  width: 95px;
  margin-bottom: 6px;
  margin-top: -10px;
  transition: all 0.3s ease-in;
}

.header-section.scrolled .browse-categories {
  margin-top: 16px;
  transition: all 0.3s ease-in;
}

.browsedata-section.scrolled .browse-banner-section {
  display: none;
}

.browsedata-section.scrolled .browse-menu {
  margin-top: -5px;
  padding: 6px 30px;
  margin-bottom: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  margin-left: -15px;
  margin-right: -15px;
  position: fixed;
  max-width: 830px;
  width: 100%;
  top: 48px;
  background: #fff;
  z-index: 9;
  transition: all 0.3s ease-in;
}

.browsedata-section.scrolled {
  padding-top: 106px;
}

.groupby {
  padding-top: 25px;
}

.groupby .group .title {
  margin: 0px;
  border-bottom: 1px solid #979797;
  padding: 4px 12px;
  font-family: "AvenirMedium", sans-serif;
  font-size: 22px;
  margin-bottom: 12px;
}

.groupby .group .title span.glyphicon {
  font-size: 14px;
}

.groupby .group .title span.glyphicon:after {
  content: "\e113";
}

.groupby .group .title.collapsed span.glyphicon:after {
  content: "\e114";
}

.groupby .group .inner-title {
  padding: 4px 12px 6px;
  font-size: 22px;
  margin: 0px;
}

.groupby .group .list {
  padding: 0px 12px;
  list-style: none;
}

.groupby .group .list li {
  padding: 6px 0px;
}

/*Login Form Style*/
.login-frm label {
  margin-bottom: 0px;
}

.login-frm input:not(.submit-btn) {
  height: 38px;
  border-radius: 3px;
  border: solid 1px #979797;
  margin-bottom: 15px;
}

.login-frm input.submit-btn, .importfiles-content .upload-btn, input.submit-btn {
  height: 38px;
  width: 150px;
  background-color: #00a3fa;
  border: 1px solid #00a3fa;
  outline: none;
  font-size: 18px;
  color: #ffffff;
}

.importfiles-content h3 {
  color: #b11017;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.importfiles-content input[type='file'] {
  display: table;
  margin: 0 auto;
  margin-bottom: 25px;
}

.ui-grid-contents-wrapper {
  display: inline-table;
}

.growbaby-navbar {
  position: absolute;
  border: 0;
  border-radius: 0px;
  margin-bottom: 0;
  margin-left: -15px;
  width: 100%;
  top: 0;
  border-top: 1px solid #d4d4d4;
}

/*editcatagory form style*/
.editcatagory-frm .form-group {
  display: table;
  width: 100%;
}

.editcatagory-frm .feature-list {
  margin-top: 10px;
}

.editcatagory-frm .feature-list li {
  padding: 5px 0px;
}

.add-feature-btn {
  margin-top: 30px;
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 22px;
  background: #00a3fa;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.add-feature-btn:hover {
  text-decoration: none;
  color: #fff;
}

.remove-feature-btn {
  margin-left: 15px;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 18px;
  background: #dd3036;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(45deg);
  vertical-align: middle;
  margin-top: -3px;
}

.remove-feature-btn:hover {
  text-decoration: none;
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
  margin-top: 4px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00a3fa;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}

input.calcel-btn {
  height: 38px;
  width: 150px;
  background-color: #ffffff;
  border: 1px solid #00a3fa;
  outline: none;
  font-size: 18px;
  color: #00a3fa;
}

.input-info {
  margin-top: 5px;
}

.input-info p {
  margin: 0px;
  font-size: 12px;
  line-height: normal;
}

.error {
  color: red;
}
