// Footer Section *
html, body {
  height: 100%;
}




footer {
  bottom: 0;

  .footer-section {
    font-family: Avenir-Light;
    height: 160px;
    background-color: #656a72;
    text-align: center;
    color: #fff;
    letter-spacing: 0.5px;
    padding: 34px 0px;
  }

  .footer-section a {
    color: #fff;
    text-decoration: none;
  }

  .footer-section .footer-top-menu {
    margin-bottom: 25px;
  }

  .footer-section .footer-top-menu span.separator {
    padding: 5px 7px;
    line-height: 2px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
  }

  .footer-section .footer-bottom-menu {
    margin-bottom: 8px;
  }

  .footer-section .footer-bottom-menu span.separator {
    padding: 7px;
    line-height: 2px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
  }

  .footer-section .copyright {
    color: #fff;
    font-size: 12px;
  }

  .rocket {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

}
