<!--Footer Section-->
<footer>
  <div class="col-xs-12 footer-section">
    <div class="footer-top-menu">
      <a href="">About</a><span class="separator">.</span><a>Contact</a><span class="separator">.</span><a>Help</a>
    </div>

    <div class="footer-bottom-menu">
      <a>Terms of Use</a><span class="separator">|</span><a>Privacy Policy</a>
    </div>
    <div class="copyright">&copy; 2017 GrowBaby, LLC. All Rights Reserved</div>
    <a class="rocket"><img src="assets/images/img-rocket.svg" alt="Rocket"/></a>
  </div>

</footer>
