
#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #f1f5f7;
}

@media(min-width: 768px) {
  #page-wrapper {
    margin-top: 80px;
    padding: 10px;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 300;
    color: #696969;
  }
}

@media(min-width: 300px) and (max-width: 765px) {
  #page-wrapper {
    margin-top: 220px;
    padding: 10px;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 300;
    color: #696969;
  }
}

.col-form-label {
  font-family: 'Avenir';
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  color: #494949;
  padding-top: 25px;
}

.gb-toolbar {
  > label {
    padding: 10px 15px;
  }
}

input.gb-checkbox[type=checkbox],
input.gb-radio[type=radio] {
  width: 16px;
  height: 16px;
  color: #349be0;
  background-color: #ffffff;
  border: solid 1px #349be0;
  margin-right: 5px;
  :checked {
    border-color: #349be0;
    color: #349be0;
    background-color: #ffffff;
  }
}

input.gb-checkbox[type=checkbox]:checked,
input.gb-radio[type=radio]:checked {
  background-color: #349be0;
}

.help-block {
  padding-left: 20px;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #494949;
}

.form-control {
  line-height: 2.35;
  font-family: 'Avenir-Book';
  color: #696969;
  min-height: 32px;
  border-radius: 4px;
  border: solid 1px #ccdde3;
}

.top-box {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #ddecf1;
}

.top-box-line1 {
  padding-bottom: 10px;
  font-family: 'Avenir-Book';
  font-size: 14px;
  line-height: 2;
  text-align: left;
  color: #a1a1ae;
}


/* Button Styling */
.btn-info{
  min-height: 36px;
  min-width:  120px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #64c1ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #64c1ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

.label-info{
  background-color: #ffffff;
  color: #64c1ff;
  font-size: 14px;
  border-radius: 4%;
}

.label-group{
  display: inline;
    padding: 3px;
}
